<app-header-app></app-header-app>

<input type="file" (change)="onFileSelected($event)">
<input [(ngModel)]="codigo" placeholder="Código">
<input [(ngModel)]="nombre" placeholder="Nombre">
<button (click)="uploadFile()">Subir archivo</button>

<div class="mb-4">
    <app-normativa-iso></app-normativa-iso>
    @if(isLoading == false){
    <div class="col-md-5"></div>
    <div class="col-md-2 container">

        <button
            matTooltip="Realizando una búsqueda avanzada llegarás más rápido al documento requerido!"
            class="btn" style="background-color: #ab0a3d; color: white;"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasRight"
            aria-controls="offcanvasRight">Búsqueda avanzada</button>

    </div>
    <div class="col-md-5"></div>

    }

    <mat-card *ngIf="isLoading" class="no-results spinner-container">
        <mat-card-content>
            Un momento estamos recopilando la información...
            <div class="loader" style="margin-top: 7rem;">
                <div class="square" id="sq1"></div>
                <div class="square" id="sq2"></div>
                <div class="square" id="sq3"></div>
                <div class="square" id="sq4"></div>
                <div class="square" id="sq5"></div>
                <div class="square" id="sq6"></div>
                <div class="square" id="sq7"></div>
                <div class="square" id="sq8"></div>
                <div class="square" id="sq9"></div>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card *ngIf="!isLoading && filteredDocuments.length === 0"
        class="no-results">
        <mat-card-content>
            <p>No se encontraron documentos que coincidan con la búsqueda.</p>
        </mat-card-content>
    </mat-card>
</div>

<app-process-iso></app-process-iso>

<!-- Modal para ver version del documento-->
<div class="modal fade" id="versionModal" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5"
                    id="exampleModalLabel">Versiones:</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                No existen versiones anteriores de este documento disponibles.
            </div>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight"
    aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">Búsqueda
            avanzada</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
    </div>

    <div class="offcanvas-body">
        <!-- buscador -->
        <div class="search-container">
            <mat-form-field appearance="outline" class="search-field mt-2">
                <mat-label>Procesos ISO 9001</mat-label>
                <input matInput type="text" [(ngModel)]="searchTerm"
                    (input)="searchDocuments()"
                    placeholder="Nombre, código, tipo o subtipo">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>
        <!-- buscador -->

        <div *ngIf="!isLoading && filteredDocuments.length > 0"
            class="documents-container">
            <ul class="list-group" style="font-size: 12px;">
                <li class="list-group-item"
                    *ngFor="let documento of filteredDocuments">
                    <div
                        class="d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold"
                                style="text-decoration: underline;">{{
                                documento.nombre_documentos }}</div>
                            <p>
                                <i matTooltip="Tipo"
                                    class="fa-solid fa-diagram-project icon-color-secondary"></i>
                                {{ documento.tipo }}
                            </p>
                            <p>
                                <i
                                    class="fa-solid fa-passport icon-color-quaternary sm-2"></i>
                                <b> Código de proceso: </b> {{ documento.codigo }}
                            </p>
                            <p>
                                <i matTooltip="Subtipo"
                                    class="fa-regular fa-font-awesome icon-color-tertiary"></i>
                                {{ documento.subtipo }}
                            </p>
                            <p data-bs-toggle="modal" style="cursor: pointer;"
                                data-bs-target="#versionModal">
                                <i matTooltip="Versiones anteriores"
                                    class="fa-solid fa-clock-rotate-left icon-color-quinto"></i>
                                {{ documento.versiones[0].codigo_version }}
                            </p>
                        </div>
                        <div>
                            @if(documento.versiones[0].is_automatic == true){
                            <button
                                matTooltip="Proceso Automatizado, haz clic en el icono para ir al sistema."
                                class="btn"
                                (click)="getDocumentId(documento.id, documento.nombre_documentos, documento.versiones[0].codigo_version, documento.versiones[0].ruta, documento.versiones[0].is_automatic)">
                                <i class="fa-solid fa-laptop-code fa-2x"
                                    style="color: rgb(38, 161, 38);"></i>
                            </button>
                            }@else {
                            <button
                                matTooltip="Clic para descargar la última versión disponible."
                                class="btn"
                                (click)="getDocumentId(documento.id, documento.nombre_documentos, documento.versiones[0].codigo_version, documento.versiones[0].ruta, documento.versiones[0].is_automatic)">
                                <i class="fa-solid fa-cloud-arrow-down fa-2x"
                                    style="color: #3f51b5;"></i>
                            </button>
                            }
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>