<app-header-app></app-header-app>

<div class="row container">
    <div class="col-md-2 p-1 d-flex justify-content-start">
        <button matTooltip="Listado de POA" class="update" mat-raised-button
            color="primary"
            routerLink="/home-poa"> <i
                class="fa-regular fa-rectangle-list me-2"></i>POAS</button>
    </div>
</div>

<h3 class="text-center fw-bold"><span class="text-secondary">
        Estado de edición/revisión: {{poaDetail.status}}</span></h3>

<h3 class="text-center fw-bold">POA: {{ poaDetail.name }} - {{
    poaDetail.responsible }} - <span class="text-secondary"> - Total
        requerido: {{
        poaDetail.total_resources }}$ - Total aprobado: {{
        poaDetail.total_aproved }}$</span></h3>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- fomulario para actualizar POA -->
            <mat-accordion class="custom-shadow-panel">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title> Detalle del POA </mat-panel-title>
                        <mat-panel-description class="update"> Click para abrir
                            POA
                        </mat-panel-description>
                        <mat-panel-description class="update">Depto. {{
                            poaDetail.department}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <!-- cambiar para visualizacion de financioero y gerente financiero -->
                    <div class="mb-3 admin"
                        *ngIf="email == 'financiero@ism.edu.ec' || email == 'direccionfinanciera@ism.edu.ec' || poaDetail.status != fullname">
                        <div class="row">
                            <div class="col-md-4">
                                <h4>Área: <span>{{poaDetail.area}}</span></h4>
                            </div>
                            <div class="col-md-4">
                                <h4>CCPF: <span>{{poaDetail.ccpf}}</span></h4>
                            </div>
                            <div class="col-md-4">
                                <h4>Nombre del proyecto:
                                    <span>{{poaDetail.name}}</span></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <h4>Campus:
                                    <span>{{poaDetail.campus}}</span></h4>
                            </div>
                            <div class="col-md-4">
                                <h4>Consejo estudiantil:
                                    <span>{{poaDetail.student_council}}</span></h4>
                            </div>
                            <div class="col-md-4">
                                <h4>Empresa:
                                    <span>{{poaDetail.company}}</span></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Objetivo:
                                    <span>{{poaDetail.objective}}</span></h4>
                            </div>
                        </div>

                    </div>
                    <!-- cambiar para visualizacion de financioero y gerente financiero -->

                    <!-- formulario de actualización del POA -->
                    <form (ngSubmit)="onUpdate()"
                        *ngIf="poaDetail.status == fullname && email != 'financiero@ism.edu.ec' && email != 'direccionfinanciera@ism.edu.ec'">
                        <h2>Formulario de actualización de POA</h2>
                        <hr>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="area"
                                        class="form-label">Área:</label>
                                    <input type="text" class="form-control"
                                        name="area"
                                        [(ngModel)]="poaDetail.area">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="department"
                                        class="form-label">Departamento:</label>
                                    <input type="text" class="form-control"
                                        name="department"
                                        [(ngModel)]="poaDetail.department">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="responsible"
                                        class="form-label">Responsable:</label>
                                    <input type="text" class="form-control"
                                        name="responsible"
                                        [(ngModel)]="poaDetail.responsible">
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="objective" class="form-label">Objetivo
                                (max. 500 caracteres):</label>
                            <textarea maxlength="500" class="form-control"
                                name="objective"
                                [(ngModel)]="poaDetail.objective"></textarea>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Empresas:</label>
                            <div class="row">
                                <div class="col-md-8">
                                    <select class="form-select"
                                        [(ngModel)]="selectedCompany"
                                        name="selectedCompany">
                                        <option value>Seleccione una
                                            empresa</option>
                                        <option
                                            *ngFor="let company of getAvailableCompanies()"
                                            [value]="company">{{ company
                                            }}</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <button mat-raised-button type="button"
                                        color="accent"
                                        (click)="addCompany()"
                                        [disabled]="!selectedCompany">Agregar
                                        Empresa</button>
                                </div>
                            </div>
                            <div class="mt-2">
                                <h6>Empresas seleccionadas:</h6>
                                <ul class="list-group">
                                    <li
                                        *ngFor="let company of poaDetail.company"
                                        class="list-group-item d-flex justify-content-between align-items-center">
                                        {{ company.name }}
                                        <button type="button"
                                            class="btn btn-danger btn-sm"
                                            (click)="removeCompany(company.name)">Quitar</button>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Campus:</label>
                            <div class="row">
                                <div class="col-md-8">
                                    <select class="form-select"
                                        [(ngModel)]="selectedCampus"
                                        name="selectedCampus">
                                        <option value>Seleccione un
                                            campus</option>
                                        <option
                                            *ngFor="let campus of getAvailableCampus()"
                                            [value]="campus">{{ campus
                                            }}</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <button mat-raised-button
                                        color="primary"
                                        (click)="addCampus()"
                                        [disabled]="!selectedCampus">Agregar
                                        Campus</button>
                                </div>
                            </div>
                            <div class="mt-2">
                                <h6>Campus seleccionados:</h6>
                                <ul class="list-group">
                                    <li
                                        *ngFor="let campus of poaDetail.campus; let i = index"
                                        class="list-group-item d-flex justify-content-between align-items-center">
                                        {{ campus.name }}
                                        <div>
                                            <input type="number"
                                                class="form-control d-inline-block w-auto mr-2"
                                                [(ngModel)]="campus.percentage"
                                                [name]="'campusPercentage' + i"
                                                min="0" max="100"
                                                style="width: 80px;">%
                                            <button (click)="removeCampus(i)"
                                                color="warn" mat-mini-fab
                                                aria-label="Example icon button with a delete icon">
                                                <mat-icon>delete</mat-icon>
                                            </button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="mb-3 d-flex justify-content-evenly">
                            <button class="update" type="submit"
                                mat-raised-button
                                color="primary">Actualizar</button>
                            <a *ngIf="poaDetail.status != 'APROBADO'"
                                class="update" mat-raised-button color="warn"
                                (click)="onDelete()">Eliminar POA</a>
                        </div>
                    </form>
                    <!-- FIN formulario de actualización del POA -->

                </mat-expansion-panel>
            </mat-accordion>

            <!-- fin fomulario para actualizar POA -->

            <!-- BOTON PARA AGREGAR ACTIVIDAD -->
            <div class="row mt-4 mb-3">
                <div class="row">
                    <div class="col-md-4 mb-3 d-flex justify-content-center"><h4
                            class="text-center"><i
                                class="fa-regular fa-clipboard me-2"></i>Actividades
                            ({{ allActivities?.length
                            }}):</h4>
                    </div>
                    <!-- barra de busqueda -->
                    <div class="col-md-4 mb-3">
                        <input type="text" style="border-radius: 50px;"
                            class="form-control text-center"
                            placeholder="Búsqueda por actividad o detalle de recurso"
                            [(ngModel)]="searchTerm" (input)="onSearch()">
                    </div>
                    <!-- barra de busqueda -->
                    <!-- BOTON PARA AGREGAR ACTIVIDAD -->
                    <div class="col-md-4 mb-3 d-flex justify-content-center"
                        *ngIf="poaDetail.status == fullname && email != 'financiero@ism.edu.ec' && email != 'direccionfinanciera@ism.edu.ec'">
                        <button class="update"
                            mat-raised-button color="primary"
                            data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                            <i class="fa-solid fa-folder-plus"></i> Agregar
                            actividad
                        </button>
                    </div>
                    <!-- BOTON PARA AGREGAR ACTIVIDAD -->
                </div>

                <!-- TABLA DE ACTIVIDADES -->
                <div class="overflow-auto p-2">

                    <mat-accordion class="custom-shadow-panel">
                        <div class="mb-3 d-flex justify-content-evenly"
                            *ngIf="email == 'financiero@ism.edu.ec' || email == 'direccionfinanciera@ism.edu.ec'">
                            <button mat-raised-button color="primary"
                                style="font-size: .7rem;"
                                (click)="filterPendingActivities()">Mostrar En
                                Revisión</button>
                            <button mat-raised-button color="secondary"
                                style="font-size: .7rem;"
                                (click)="clearFilter()">Mostrar Todos</button>
                        </div>

                        <mat-expansion-panel
                            *ngFor="let activity of allActivities"
                            (click)="getActivityId(activity.id)">
                            <mat-expansion-panel-header
                                style="background-color: rgb(109, 121, 121)">
                                <mat-panel-title>
                                    <p matTooltip="{{activity.activity}}"
                                        class="truncate text-white"><i
                                            class="fa-regular fa-clipboard me-2"></i>{{activity.activity}}</p>
                                </mat-panel-title>
                                <mat-panel-description class="dates text-white">
                                    <i
                                        class="fa-regular fa-calendar me-2"></i>Inicio:
                                    {{ activity.start_date | date }} -
                                    Fin: {{ activity.end_date | date }} <i
                                        class="fa-solid fa-calendar-check ms-2"></i>
                                </mat-panel-description>
                                <mat-panel-description class="dates">
                                    <i
                                        class="fa-solid fa-file-invoice-dollar me-2"></i>Monto
                                    requerido: {{
                                    activity.resources_amount }}$ -
                                    <span
                                        *ngIf="activity.approved_amount != '0.00'"
                                        class="text-white"
                                        style="margin-left: 5px;">
                                        Monto aprobado: {{
                                        activity.approved_amount }}$ <i
                                            class="fa-regular fa-circle-check"></i>
                                    </span>
                                    @if (activity.approved_amount == '0.00') {
                                    @if(activity.approved_activity){
                                    <span
                                        class="p-1 bg-danger text-white progress-container fw-bold"
                                        style="border-radius: 10px; margin-left: 5px;">
                                        Monto rechazado
                                    </span>
                                    }@else {
                                    <span
                                        class="p-1 bg-white progress-container fw-bold"
                                        style="border-radius: 10px; margin-left: 5px;">
                                        En revisión
                                        <mat-progress-bar mode="buffer"
                                            class="progress-bar"></mat-progress-bar>
                                    </span>
                                    }
                                    }

                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <div class="row">
                                <div class="col-md-12 mt-4">
                                    <div
                                        *ngIf="!isEditing || editingActivityId !== activity.id">

                                        <p><strong
                                                matTooltip="{{activity.activity}}"><i
                                                    class="fa-regular fa-clipboard me-2"></i>
                                                Actividad:</strong>
                                            {{ activity.activity }}</p>

                                        <p><strong><i
                                                    class="fa-solid fa-info me-2"></i>
                                                Detalle
                                                de recursos:</strong>
                                            {{ activity.resources_detail }}</p>

                                        <p><strong><i
                                                    class="fa-solid fa-file-invoice-dollar me-2"></i>
                                                Monto de recursos:</strong>
                                            {{ activity.resources_amount }}</p>
                                        <p
                                            *ngIf="activity.approved_amount != '0.00'"><strong><i
                                                    class="fa-regular fa-circle-check me-2"></i>Monto
                                                aprobado:</strong>
                                            {{ activity.approved_amount }}</p>

                                        <p
                                            *ngIf="activity.comments"><strong
                                                matTooltip="{{activity.comments}}">Comentarios:</strong>
                                            {{
                                            activity.comments }}</p>
                                        <p
                                            *ngIf="activity.accounting_count"><strong>
                                                <i
                                                    class="fa-solid fa-receipt me-2"></i>Cuenta
                                                contable:</strong>
                                            {{ activity.accounting_count }}</p>

                                    </div>
                                </div>
                            </div>
                            <div class="row d-flex justify-content-center">
                                <div class="col-md-6 mb-3">
                                    <a style="width: 25%;"
                                        *ngIf="activity.approved_amount == '0.00'"
                                        class="update"
                                        mat-raised-button
                                        (click)="downloadActivityPDF(activity); $event.stopPropagation()">Descargar
                                        PDF</a>
                                </div>
                                <div
                                    class="col-md-6 d-flex justify-content-evenly">
                                    @if (activity.approved_amount == '0.00' &&
                                    poaDetail.status == fullname) {
                                    <div
                                        *ngIf="email != 'financiero@ism.edu.ec' && email != 'direccionfinanciera@ism.edu.ec'">
                                        <button class="update" mat-raised-button
                                            color="primary"
                                            *ngIf="!isEditing || editingActivityId !== activity.id"
                                            (click)="startEditing(activity)">Editar
                                            actividad</button>
                                    </div>
                                    <div
                                        *ngIf="poaDetail.status != 'APROBADO'">
                                        @if (email == 'financiero@ism.edu.ec' ||
                                        email ==
                                        'direccionfinanciera@ism.edu.ec') {

                                        } @else {
                                        <button class="update" mat-raised-button
                                            *ngIf="!isEditing || editingActivityId !== activity.id "
                                            style="background-color: brown;color: white;"
                                            (click)="deleteActivity(activity.id)">Eliminar</button>
                                        }

                                    </div>
                                    }

                                    @if (email == 'financiero@ism.edu.ec' &&
                                    activity.approved_amount == "0.00" &&
                                    poaDetail.status != 'APROBADO' &&
                                    poaDetail.status == 'Cristian Vaca') {
                                    <button class="update" mat-raised-button
                                        color="primary"
                                        *ngIf="!isEditing || editingActivityId !== activity.id"
                                        (click)="startEditing(activity)">Editar
                                        actividad</button>
                                    }

                                    @if (email ==
                                    'direccionfinanciera@ism.edu.ec' &&
                                    activity.approved_amount == "0.00" &&
                                    poaDetail.status != 'APROBADO' &&
                                    poaDetail.status == 'VINUEZA AIDA') {
                                    <button class="update" mat-raised-button
                                        color="primary"
                                        *ngIf="!isEditing || editingActivityId !== activity.id"
                                        (click)="startEditing(activity)">Editar
                                        actividad</button>
                                    }
                                </div>
                                @if (activity.approved_amount != '0.00') {
                                <a class="update bg-success text-white"
                                    mat-raised-button style="width: 25%;"
                                    (click)="downloadActivityPDF(activity); $event.stopPropagation()">
                                    Aprobado! Descarga PDF
                                    de la actividad!</a>
                                }
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <form
                                        *ngIf="isEditing && editingActivityId === activity.id">
                                        <div
                                            *ngIf="poaDetail.status == fullname && email != 'financiero@ism.edu.ec' && email != 'direccionfinanciera@ism.edu.ec'">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="mb-3">
                                                        <label for="activity"
                                                            class="form-label">Actividad:</label>
                                                        <textarea type="text"
                                                            class="form-control"
                                                            id="activity"
                                                            [(ngModel)]="editingActivity.activity"
                                                            name="activity"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="mb-3">
                                                        <label
                                                            for="resources_amount"
                                                            class="form-label">Monto
                                                            de
                                                            recursos ({{
                                                            activity.resources_amount
                                                            }}$):</label>
                                                        <input type="number"
                                                            class="form-control"
                                                            id="resources_amount"
                                                            [(ngModel)]="editingActivity.resources_amount"
                                                            name="resources_amount"
                                                            maxlength="6">
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="mb-3">
                                                        <label
                                                            for="resources_amount"
                                                            class="form-label">Fecha
                                                            de inicio
                                                            ({{activity.start_date
                                                            | date}}):</label>
                                                        <input type="date"
                                                            class="form-control"
                                                            id="resources_amount"
                                                            [(ngModel)]="editingActivity.start_date"
                                                            name="resources_amount"
                                                            maxlength="6">
                                                    </div>

                                                </div>
                                                <div class="col-md-3">

                                                    <div class="mb-3">
                                                        <label
                                                            for="resources_amount"
                                                            class="form-label">Fecha
                                                            de fin
                                                            ({{activity.end_date
                                                            | date}}):</label>
                                                        <input type="date"
                                                            class="form-control"
                                                            id="resources_amount"
                                                            [(ngModel)]="editingActivity.end_date"
                                                            name="resources_amount"
                                                            maxlength="6">
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="mb-3 ">
                                                        <label for="campus"
                                                            class="form-label">Prioridad
                                                            ({{
                                                            activity.priority
                                                            }}):</label>
                                                        <select
                                                            class="form-select"
                                                            [(ngModel)]="createPoa.priority"
                                                            name="campus">
                                                            <option
                                                                value="BAJA">Baja</option>
                                                            <option
                                                                value="MEDIA">Media</option>
                                                            <option
                                                                value="ALTA">Alta</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="mb-3">
                                                        <label
                                                            for="resources_detail"
                                                            class="form-label">Detalle
                                                            de
                                                            recursos (max. 500
                                                            caracteres):</label>
                                                        <textarea
                                                            maxlength="500"
                                                            class="form-control"
                                                            id="resources_detail"
                                                            rows="3"
                                                            [(ngModel)]="editingActivity.resources_detail"
                                                            name="resources_detail"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="mb-3">
                                                    <label
                                                        for="responsible"
                                                        class="form-label">Responsable:</label>
                                                    <ng-select
                                                        [items]="compers_list"
                                                        bindLabel="name"
                                                        bindValue="name"
                                                        [(ngModel)]="editingActivity.responsible"
                                                        name="status"
                                                        placeholder="Elija un usuario">
                                                    </ng-select>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- solo lo puede ver y modificar financieros -->
                                        <div class="row"
                                            *ngIf="email == 'financiero@ism.edu.ec' || email == 'direccionfinanciera@ism.edu.ec'">
                                            <p><strong>Monto requerido:</strong>
                                                {{ activity.resources_amount
                                                }}</p>
                                            <div class="mb-3">
                                                <label class="form-label">Estado
                                                    de aprobación de la
                                                    actividad:</label>
                                                <div class="form-check">
                                                    <input
                                                        class="form-check-input"
                                                        type="radio"
                                                        name="approvalStatus"
                                                        id="statusApproved"
                                                        [(ngModel)]="editingActivity.approved_activity"
                                                        value="APROBADO">
                                                    <label
                                                        class="form-check-label"
                                                        for="statusApproved">
                                                        Aprobado
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input
                                                        class="form-check-input"
                                                        type="radio"
                                                        name="approvalStatus"
                                                        id="statusRejected"
                                                        [(ngModel)]="editingActivity.approved_activity"
                                                        value="RECHAZADO">
                                                    <label
                                                        class="form-check-label"
                                                        for="statusRejected">
                                                        Rechazado
                                                    </label>
                                                </div>
                                            </div>
                                            <div
                                                *ngIf="editingActivity.approved_activity === 'APROBADO'">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="mb-3">
                                                            <label
                                                                for="approved_amount"
                                                                class="form-label">Monto
                                                                aprobado:</label>
                                                            <input type="number"
                                                                class="form-control"
                                                                id="approved_amount"
                                                                [(ngModel)]="editingActivity.approved_amount"
                                                                name="approved_amount"
                                                                maxlength="6">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="mb-3">
                                                            <label
                                                                for="accounting_count"
                                                                class="form-label">Cuenta
                                                                contable:</label>
                                                            <ng-select
                                                                [items]="accounting_list"
                                                                bindLabel="accounting_count"
                                                                bindValue="accounting_count"
                                                                [(ngModel)]="editingActivity.accounting_count"
                                                                name="accounting_count"
                                                                placeholder="Elija una cuenta">
                                                            </ng-select>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="mb-3">
                                                <label for="comments"
                                                    class="form-label">Comentarios:</label>
                                                <textarea maxlength="500"
                                                    class="form-control"
                                                    id="comments" rows="3"
                                                    [(ngModel)]="editingActivity.comments"
                                                    name="comments"></textarea>
                                            </div>

                                        </div>
                                        <!-- fin solo lo puede ver y modificar el; admin -->
                                        <div
                                            class="row d-flex justify-content-center">
                                            <div
                                                class=" text-center d-flex justify-content-evenly">
                                                <button class="update"
                                                    mat-raised-button
                                                    color="primary"
                                                    *ngIf="isEditing && editingActivityId === activity.id"
                                                    (click)="saveChanges(activity.id)">Guardar</button>
                                                <button class="update"
                                                    mat-raised-button
                                                    color="secondary"
                                                    *ngIf="isEditing && editingActivityId === activity.id"
                                                    (click)="cancelEditing()">Cancelar</button>

                                                @if (email ==
                                                'financiero@ism.edu.ec' ||
                                                email ==
                                                'direccionfinanciera@ism.edu.ec')
                                                {

                                                } @else {
                                                <button class="update"
                                                    mat-raised-button
                                                    *ngIf="poaDetail.status != 'APROBADO'"
                                                    style="background-color: brown;color: white;"
                                                    (click)="deleteActivity(activity.id)">Eliminar</button>
                                                }

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                    @if (poaDetail.coment_rejected && email !=
                    'financiero@ism.edu.ec' && email !=
                    'direccionfinanciera@ism.edu.ec') {
                    <!-- boton flotante para alertas -->
                    <div style="width: 30%;">
                        <a data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasRight"
                            aria-controls="offcanvasRight"
                            mat-fab color="warn" class="fab-button2">
                            <i class="fa-regular fa-bell fa-2x"></i>
                        </a>
                    </div>

                    }
                </div>

                <!-- agregar fimas -->
                <!-- Button trigger modal -->
                @if( signaturesList?.length == 1 && is_admin == false) {
                <div class="alert alert-success" role="alert">
                    Se ha enviado a su jefe directo para
                    aprobación<i class="fa-solid fa-user-check ms-2"></i>
                </div>

                <ul class="list-group" *ngFor="let sig of signaturesList">
                    <li class="list-group-item"><b>Jefe directo:</b> {{
                        sig.user_name }}
                        <span>{{ sig.user_email }}</span>
                        <p>{{ sig.coments }}</p>
                    </li>
                </ul>
                } @else {

                <!-- BOTON FLOTANTE -->
                <div style="width: 30%;" *ngIf="poaDetail.status != 'APROBADO'">
                    <a data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                        matTooltip="Agregar siguiente filtro"
                        *ngIf="poaDetail.status == fullname || email == 'financiero@ism.edu.ec' || email == 'direccionfinanciera@ism.edu.ec'"
                        mat-fab color="primary" class="fab-button">
                        <i class="fa-regular fa-share-from-square fa-2x"></i>
                    </a>
                </div>
                }
                <div class="alert alert-success text-center" role="alert"
                    *ngIf="poaDetail.status == 'APROBADO'">
                    Este POA ha sido Aprobado!
                </div>

            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar
                    actividad</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="createActivity()" #activityForm="ngForm">
                    <div *ngIf="poaDetail.status == fullname">
                        <div class="mb-3">
                            <label for="activity"
                                class="form-label">Actividad</label>
                            <input type="text" class="form-control"
                                id="activity"
                                [(ngModel)]="createPoa.activity" name="activity"
                                required>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="start_date"
                                        class="form-label">Fecha
                                        de
                                        inicio</label>
                                    <input type="date" class="form-control"
                                        id="start_date"
                                        [(ngModel)]="createPoa.start_date"
                                        name="start_date"
                                        required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="end_date"
                                        class="form-label">Fecha
                                        de
                                        fin</label>
                                    <input type="date" class="form-control"
                                        id="end_date"
                                        [(ngModel)]="createPoa.end_date"
                                        name="end_date"
                                        required>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="resources_detail"
                                class="form-label">Detalle
                                de recursos</label>
                            <textarea class="form-control"
                                id="resources_detail"
                                [(ngModel)]="createPoa.resources_detail"
                                name="resources_detail" required></textarea>
                        </div>
                        <div class="row">
                            <div class="mb-3 col-md-6">
                                <label for="resources_ammount"
                                    class="form-label">Monto
                                    de recursos</label>
                                <input maxlength="6" type="number"
                                    class="form-control"
                                    id="resources_ammount"
                                    [(ngModel)]="createPoa.resources_ammount"
                                    name="resources_ammount" required>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="campus"
                                    class="form-label">Prioridad</label>
                                <select class="form-select"
                                    [(ngModel)]="createPoa.priority"
                                    name="campus">
                                    <option value="BAJA">Baja</option>
                                    <option value="MEDIA">Media</option>
                                    <option value="ALTA">Alta</option>
                                </select>
                            </div>
                        </div>
                        <!-- <div class="row">
                            <div class="mb-3">
                                <ng-select
                                    [items]="compers_list"
                                    bindLabel="name"
                                    bindValue="name"
                                    [(ngModel)]="createPoa.responsible"
                                    name="status"
                                    placeholder="Elija un usuario">
                                </ng-select>
                            </div>
                        </div> -->
                    </div>
                    <!-- solo admin puede modificar -->
                    <button type="submit" mat-raised-button color="primary"
                        [disabled]="activityForm.form.invalid">Crear
                        Actividad</button>
                </form>

            </div>
        </div>
    </div>
</div>

<!-- Modal firmas-->

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
    data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel"
                    *ngIf="email != 'financiero@ism.edu.ec' && email != 'direccionfinanciera@ism.edu.ec'">Enviar
                    a revisión con jefe directo</h1>

                <h1 class="modal-title fs-5" id="staticBackdropLabel"
                    *ngIf="email == 'financiero@ism.edu.ec' ||  email == 'direccionfinanciera@ism.edu.ec'">Aprobación
                    de POA</h1>

                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">

                @if(email != 'financiero@ism.edu.ec' && email !=
                'direccionfinanciera@ism.edu.ec' ){
                <form>
                    <div class="mb-3">
                        <label for class="form-label">Asignar usuario:</label>
                        <div class="mb-3" style="width: 100%;"
                            *ngIf="poaDetail.status != 'APROBADO'">
                            <ng-select
                                [items]="users"
                                bindLabel="first_name"
                                bindValue="first_name"
                                [(ngModel)]="selectedStatus"
                                (change)="onUpdate()"
                                name="status"
                                placeholder="Elija un usuario">
                            </ng-select>
                        </div>
                    </div>
                </form>
                }@else {
                <div class="col-md-12">
                    <div class="mb-3 d-flex justify-content-evenly"
                        *ngIf="poaDetail.status != 'APROBADO'">
                        @if (poaDetail.status == 'Cristian Vaca' ||
                        poaDetail.status == 'VINUEZA AIDA') {

                        @if (allActivitiesHaveApproval()) {
                        <button (click)="updateStatus('APROBADO')"
                            [class.active]="selectedStatus === 'APROBADO'"
                            color="primary"
                            mat-raised-button>
                            Aprobar POA
                        </button>
                        <button mat-raised-button
                            (click)="updateStatus('RECHAZADO')"
                            [class.active]="selectedStatus === 'RECHAZADO'"
                            color="warn">
                            Rechazar POA
                        </button>
                        }@else {
                        <h5>Debe aprobar o rechazar todas las actividades de
                            este POA para continuar.</h5>
                        }
                        } @else {
                        <h5>Este POA aun no ha llegado a este filtro.</h5>
                        }
                    </div>
                    <div *ngIf="showRejectComment" class="mt-3">
                        <textarea [(ngModel)]="rejectComment"
                            rows="4"
                            class="form-control"
                            placeholder="Ingrese el motivo del rechazo"></textarea>
                        <button (click)="onUpdate()"
                            class="btn btn-primary mt-2">
                            Confirmar Rechazo
                        </button>
                    </div>
                    <div class="alert alert-success" role="alert"
                        *ngIf="poaDetail.status == 'APROBADO'">
                        Este POA ha sido Aprobado!
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>

<!-- Modal muestra comentario de rechazo -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight"
    aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        @if (poaDetail.status != 'APROBADO') {
        <h5 class="offcanvas-title" id="offcanvasRightLabel">Observaciones de
            rechazo de POA</h5>
        }@else {
        <h5 class="offcanvas-title" id="offcanvasRightLabel">Historial de
            observaciones de POA</h5>
        }

        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="alert alert-warning" role="alert">
            <b>Razón de rechazo: </b>{{poaDetail.coment_rejected}}
        </div>

        <ul class="list-group" *ngFor="let coment of allActivities">
            <b>Actividad:</b> {{ coment.activity }}
            @if (coment.comments) {
            <li class="list-group-item mb-3"><b>Comentario:
                </b>{{coment.comments}}</li>
            <li class="list-group-item mb-3"><b>Monto aprobado:
                </b>{{coment.approved_amount}}</li>
            } @else {
            <li class="list-group-item mb-3"><b>Comentario: </b>No se ha
                agregado comentario.</li>
            <li *ngIf="coment.approved_activity"
                class="list-group-item mb-3"><b>{{ coment.approved_activity }}
                </b></li>
            }
            <hr>
        </ul>
    </div>
</div>