<app-header-app></app-header-app>
<h1 class="text-center mt-4">Detalle: {{ poaDetail.name }} - {{
    poaDetail.responsible }}</h1>

<div class="p-4">
    <div class="row">
        <div class="col-md-9">
            <!-- fomulario para actualizar POA -->
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title> Actualizar POA </mat-panel-title>
                        <mat-panel-description> Click para abrir POA
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <form (ngSubmit)="onUpdate()">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label for="area"
                                        class="form-label">Área:</label>
                                    <input type="text" class="form-control"
                                        name="are" [(ngModel)]="poaDetail.area">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label for="department"
                                        class="form-label">Dpto:</label>
                                    <input type="text" class="form-control"
                                        name="department"
                                        [(ngModel)]="poaDetail.department"
                                        disabled>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label for="ccpf"
                                        class="form-label">CCPF:</label>
                                    <input type="text" class="form-control"
                                        name="ccpf"
                                        [(ngModel)]="poaDetail.ccpf">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label for="name" class="form-label">N. del
                                        proyecto:</label>
                                    <input type="text" class="form-control"
                                        name="name"
                                        [(ngModel)]="poaDetail.name">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label for="responsible"
                                        class="form-label">Responsable:</label>
                                    <input type="text" class="form-control"
                                        name="responsible"
                                        [(ngModel)]="poaDetail.responsible"
                                        disabled>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label for="student_council"
                                        class="form-label">Consejo
                                        estudiantil:</label>
                                    <input type="text" class="form-control"
                                        name="student_council"
                                        [(ngModel)]="poaDetail.student_council">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label for="total"
                                        class="form-label">Total:</label>
                                    <input type="text" class="form-control"
                                        name="total"
                                        [(ngModel)]="poaDetail.total">
                                </div>
                            </div>
                            <div class="col-md-3 d-flex justify-content-center">
                                <div class="mb-3">
                                    <label for="status"
                                        class="form-label">Estado:</label>
                                    <select [(ngModel)]="selectedStatus"
                                        name="status" class="form-select"
                                        aria-label="Default select example">
                                        <option value>Sin cambios</option>
                                        <option *ngFor="let state of taskStates"
                                            [value]="state">{{state}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="objective"
                                class="form-label">Objetivo:</label>
                            <textarea class="form-control" name="objective"
                                [(ngModel)]="poaDetail.objective"></textarea>
                        </div>
                        <div class="mb-3 d-flex justify-content-evenly">
                            <button type="submit" mat-raised-button
                                color="primary">Actualizar</button>
                            <a mat-raised-button
                                (click)="onCancel()">Cancelar</a>
                            <a *ngIf="poaDetail.status == 'EN PROCESO'"
                                mat-raised-button color="warn"
                                (click)="onDelete()">Eliminar POA</a>
                        </div>
                    </form>
                </mat-expansion-panel>
            </mat-accordion>
            <!-- fomulario para actualizar POA -->

            <!-- BOTON PARA AGREGAR ACTIVIDAD -->
            <div class="row mt-4 mb-3">
                <div class="row">
                    <div class="col-md-4 mb-3 d-flex justify-content-center"><h4
                            class="text-center">Actividades
                            ({{ allActivities?.length
                            }}):</h4></div>
                    <!-- barra de busqueda -->
                    <div class="col-md-4 mb-3">
                        <input type="text"
                            class="form-control text-center"
                            placeholder="Búsqueda por actividad o detalle de recurso"
                            [(ngModel)]="searchTerm" (input)="onSearch()">
                    </div>
                    <!-- barra de busqueda -->
                    <!-- BOTON PARA AGREGAR ACTIVIDAD -->
                    <div class="col-md-4 mb-3 d-flex justify-content-center">
                        <button mat-raised-button color="primary"
                            data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                            <i class="fa-solid fa-folder-plus"></i> Agregar
                            actividad
                        </button>
                    </div>
                    <!-- BOTON PARA AGREGAR ACTIVIDAD -->
                </div>
                <div class="overflow-auto" style="height: 300px;">
                    <mat-accordion>
                        <mat-expansion-panel
                            *ngFor="let activity of allActivities"
                            (click)="getActivityId(activity.id)">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    {{activity.activity}}
                                </mat-panel-title>
                                <mat-panel-description>
                                    Inicio: {{ activity.start_date |
                                    date:'dd/MM/yyyy' }} -
                                    Fin: {{ activity.end_date |
                                    date:'dd/MM/yyyy' }}
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <div class="row">
                                <div class="col-md-12">
                                    <div
                                        *ngIf="!isEditing || editingActivityId !== activity.id">
                                        <p
                                            class="text-truncate"><strong>Actividad:</strong>
                                            {{
                                            activity.activity }} </p>
                                        <p class="text-truncate"><strong>Detalle
                                                de recursos:</strong>
                                            {{ activity.resources_detail }}</p>
                                        <p
                                            class="text-truncate"><strong>Comentarios:</strong>
                                            {{
                                            activity.comments }}</p>
                                        <p><strong>Monto de recursos:</strong>
                                            {{ activity.resources_amount }}</p>
                                        <div *ngIf="is_admin == true">
                                            <p><strong>Monto aprobado:</strong>
                                                {{
                                                activity.approved_amount }}</p>
                                            <p><strong>Cuenta contable:</strong>
                                                {{
                                                activity.accounting_count }}</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row d-flex justify-content-center">
                                <div
                                    class="col-md-6 d-flex justify-content-evenly">
                                    <button mat-raised-button color="primary"
                                        *ngIf="!isEditing || editingActivityId !== activity.id"
                                        (click)="startEditing(activity)">Editar
                                        actividad</button>
                                    <div
                                        *ngIf="poaDetail.status == 'EN PROCESO'">
                                        <button mat-raised-button
                                            *ngIf="!isEditing || editingActivityId !== activity.id "
                                            style="background-color: brown;color: white;"
                                            (click)="deleteActivity(activity.id)">Eliminar</button>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <form
                                        *ngIf="isEditing && editingActivityId === activity.id">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="mb-3">
                                                    <label for="activity"
                                                        class="form-label">Actividad:</label>
                                                    <textarea type="text"
                                                        class="form-control"
                                                        id="activity"
                                                        [(ngModel)]="editingActivity.activity"
                                                        name="activity"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="mb-3">
                                                    <label
                                                        for="resources_amount"
                                                        class="form-label">Monto
                                                        de
                                                        recursos:</label>
                                                    <input type="number"
                                                        class="form-control"
                                                        id="resources_amount"
                                                        [(ngModel)]="editingActivity.resources_amount"
                                                        name="resources_amount"
                                                        maxlength="6">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="mb-3">
                                                    <label
                                                        for="resources_amount"
                                                        class="form-label">Fecha
                                                        de inicio:</label>
                                                    <input type="date"
                                                        class="form-control"
                                                        id="resources_amount"
                                                        [(ngModel)]="editingActivity.start_date"
                                                        name="resources_amount"
                                                        maxlength="6">
                                                </div>

                                            </div>
                                            <div class="col-md-4">

                                                <div class="mb-3">
                                                    <label
                                                        for="resources_amount"
                                                        class="form-label">Fecha
                                                        de fin:</label>
                                                    <input type="date"
                                                        class="form-control"
                                                        id="resources_amount"
                                                        [(ngModel)]="editingActivity.end_date"
                                                        name="resources_amount"
                                                        maxlength="6">
                                                </div>

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label
                                                        for="resources_detail"
                                                        class="form-label">Detalle
                                                        de
                                                        recursos:</label>
                                                    <textarea
                                                        class="form-control"
                                                        id="resources_detail"
                                                        rows="3"
                                                        [(ngModel)]="editingActivity.resources_detail"
                                                        name="resources_detail"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label for="comments"
                                                        class="form-label">Comentarios:</label>
                                                    <textarea
                                                        class="form-control"
                                                        id="comments" rows="3"
                                                        [(ngModel)]="editingActivity.comments"
                                                        name="comments"></textarea>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- solo lo puede ver y modificar el; admin -->
                                        <div class="row"
                                            *ngIf="is_admin == true">
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label for="approved_amount"
                                                        class="form-label">Monto
                                                        aprobado:</label>
                                                    <input type="number"
                                                        class="form-control"
                                                        id="approved_amount"
                                                        [(ngModel)]="editingActivity.approved_amount"
                                                        name="approved_amount"
                                                        maxlength="6">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label
                                                        for="accounting_count"
                                                        class="form-label">Cuenta
                                                        contable:</label>
                                                    <input type="text"
                                                        class="form-control"
                                                        id="accounting_count"
                                                        [(ngModel)]="editingActivity.accounting_count"
                                                        name="accounting_count">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- solo lo puede ver y modificar el; admin -->

                                        <div
                                            class="row d-flex justify-content-center">
                                            <div
                                                class=" text-center d-flex justify-content-evenly">
                                                <button mat-raised-button
                                                    color="primary"
                                                    *ngIf="isEditing && editingActivityId === activity.id"
                                                    (click)="saveChanges(activity.id)">Guardar</button>
                                                <button mat-raised-button
                                                    color="secondary"
                                                    *ngIf="isEditing && editingActivityId === activity.id"
                                                    (click)="cancelEditing()">Cancelar</button>
                                                <button mat-raised-button
                                                    *ngIf="poaDetail.status == 'EN PROCESO'"
                                                    style="background-color: brown;color: white;"
                                                    (click)="deleteActivity(activity.id)">Eliminar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>

                <!-- agregar fimas -->
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary"
                    data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Launch static backdrop modal
                </button>

                <div class *ngFor="let sig of signaturesList">
                    <p>{{ sig.user_email }}</p>
                    <p>{{ sig.user_name }}</p>
                    <p>{{ sig.user_name }}</p>
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="text-center" style="color: black;">
                <i class="fa-solid fa-circle-info"></i> Manual de usuario
            </div>
            <div class="cards1 mt-2">
                <b><i class="fa-solid fa-chart-line"></i> Estadísticas de
                    Mantenimiento</b>
                <p class="text-dark">
                    La gráfica muestra el estado actual de casos
                    (iniciando, en proceso, etc.), útil para gestionar el
                    flujo de trabajo.
                </p>
            </div>
            <div class="cards1">
                <b><i class="fa-regular fa-paper-plane"></i> Creación de
                    Casos</b>
                <p class="text-dark">
                    Para crear un caso de mantenimiento u otro departamento,
                    debe ingresar al
                    proceso desde el menu izquierdo
                    <i class="fa-solid fa-bars"></i>.
                </p>
            </div>
            <div class="cards1">
                <b><i class="fa-regular fa-file-lines"></i> Obtener
                    resportería</b>
                <p class="text-dark">
                    En el menú izquierdo <i class="fa-solid fa-bars"></i>
                    podemos escoger la opción de reportería del proceso que
                    necesitemos, esto nos llevará a una nueva página para
                    visualizar la información.
                </p>
            </div>
            <div class="cards1">
                <b><i class="fa-solid fa-sliders"></i> Configuración de
                    usuario</b>
                <p class="text-dark">
                    En el menú izquierdo <i class="fa-solid fa-bars"></i>
                    podemos editar la configuración de usuario, especificamente
                    cambiar la contraseñas.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar
                    actividad</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="createActivity()" #activityForm="ngForm">
                    <div class="mb-3">
                        <label for="activity"
                            class="form-label">Actividad</label>
                        <input type="text" class="form-control" id="activity"
                            [(ngModel)]="createPoa.activity" name="activity"
                            required>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="start_date" class="form-label">Fecha
                                    de
                                    inicio</label>
                                <input type="date" class="form-control"
                                    id="start_date"
                                    [(ngModel)]="createPoa.start_date"
                                    name="start_date"
                                    required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="end_date" class="form-label">Fecha
                                    de
                                    fin</label>
                                <input type="date" class="form-control"
                                    id="end_date"
                                    [(ngModel)]="createPoa.end_date"
                                    name="end_date"
                                    required>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="resources_detail" class="form-label">Detalle
                            de recursos</label>
                        <textarea class="form-control"
                            id="resources_detail"
                            [(ngModel)]="createPoa.resources_detail"
                            name="resources_detail" required></textarea>
                    </div>
                    <div class="row">

                        <div class="mb-3">
                            <label for="resources_ammount"
                                class="form-label">Monto
                                de recursos</label>
                            <input maxlength="6" type="number"
                                class="form-control"
                                id="resources_ammount"
                                [(ngModel)]="createPoa.resources_ammount"
                                name="resources_ammount" required>
                        </div>

                    </div>
                    <div class="mb-3">
                        <label for="comments"
                            class="form-label">Comentarios</label>
                        <textarea class="form-control" id="comments"
                            [(ngModel)]="createPoa.comments"
                            name="comments"></textarea>
                    </div>
                    <!-- solo admin puede modificar -->

                    <div class="row" *ngIf="is_admin == true">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="accounting_calculate"
                                    class="form-label">Cuenta contable</label>
                                <input type="text" class="form-control"
                                    id="accounting_calculate"
                                    [(ngModel)]="createPoa.accounting_count"
                                    name="accounting_calculate" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="approved_ammount"
                                    class="form-label">Monto
                                    aprobado</label>
                                <input maxlength="7" type="number"
                                    class="form-control"
                                    maxlength="6"
                                    id="approved_ammount"
                                    [(ngModel)]="createPoa.approved_ammount"
                                    name="approved_ammount" required>
                            </div>
                        </div>
                    </div>
                    <!-- solo admin puede modificar -->
                    <button type="submit" mat-raised-button color="primary"
                        [disabled]="activityForm.form.invalid">Crear
                        Actividad</button>
                </form>

            </div>
        </div>
    </div>
</div>

<!-- Modal firmas-->

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
    data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal
                    title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <select (change)="onUserSelect($event)"
                            [(ngModel)]="usersId" name="usuario"
                            class="form-select"
                            aria-label="Default select example">
                            <option value>Seleccione un usuario</option>
                            <option *ngFor="let user of users"
                                [value]="user.id">
                                {{ user.first_name }}
                            </option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for class="form-label">Comentario</label>
                        <textarea class="form-control" type="text"
                            [(ngModel)]="signature.coments"
                            name="coments">
                            </textarea>
                    </div>
                    <input type="date"
                        [(ngModel)]="signature.date_accepted"
                        name="date">
                    <button (click)="createSignature()" type="submit"
                        class="btn btn-primary">Enviar</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal">Close</button>
                <button type="button"
                    class="btn btn-primary">Understood</button>
            </div>
        </div>
    </div>
</div>
