.form-label {
    font-size: 1.2rem;
    font-weight: bold;
    display: grid;
    align-items: center;
}

.modal-title {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}

.form-AST{
    margin-top: 15px;
}

.cards1 {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ab0a3d63;
}

.cards {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}