<div>
    <app-header></app-header>

    <div class="container mt-3">

        <div class="row">

            <!-- Detalle del problema -->
            <div class="col-lg-6">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button button-lila-obscuro"
                                type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne"
                                aria-expanded="true"
                                aria-controls="collapseOne">
                                Detalle del problema: {{
                                maintenanceUrl?.maintenance?.type_incident
                                }} -
                                {{maintenanceUrl?.maintenance?.case?.created
                                }}
                            </button>
                        </h2>
                        <div id="collapseOne"
                            class="accordion-collapse collapse show "
                            aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p><b>Descripción del problema:</b> {{
                                    maintenanceUrl?.maintenance?.description_incident
                                    }}</p>
                                <p><b>Sitio del problema: </b> {{
                                    maintenanceUrl?.maintenance?.site }}</p>
                                <p><b>Prioridad: </b> {{
                                    maintenanceUrl?.maintenance?.priority }}</p>
                                <p><b>Estado: </b> {{
                                    maintenanceUrl?.maintenance?.case?.status?.name
                                    }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <!-- Subir archivo -->

                    <div class="accordion" id="accordionSubirArchivo">
                        <div class="accordion-item">
                            <h2 class="accordion-header"
                                id="headingSubirArchivo">

                                <button class="accordion-button"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseSubirArchivo"
                                    aria-expanded="true"
                                    aria-controls="collapseSubirArchivo">
                                    <b>SUBIR ARCHIVO</b>
                                </button>
                            </h2>
                            <div id="collapseSubirArchivo"
                                class="accordion-collapse collapse"
                                aria-labelledby="headingSubirArchivo"
                                data-bs-parent="#accordionSubirArchivo">
                                <div class="accordion-body">
                                    <div>
                                        <input type="file" #fileInput
                                            class="form-control mb-3" />
                                        <button (click)="uploadFile()"
                                            class="btn btn-primary">Subir
                                            archivo</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="accordion" id="accordionGaleria">
                            <div class="accordion-item">
                                <h2 class="accordion-header"
                                    id="headingGaleria">
                                    <button class="accordion-button"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseGaleria"
                                        aria-expanded="true"
                                        aria-controls="collapseGaleria">
                                        <b>GALERÍA DE FOTOS CON EL PROBLEMA</b>
                                    </button>
                                </h2>
                                <div id="collapseGaleria"
                                    class="accordion-collapse collapse"
                                    aria-labelledby="headingGaleria"
                                    data-bs-parent="#accordionGaleria">
                                    <div class="accordion-body">
                                        <div class="row">
                                            <div class="col"
                                                *ngFor="let photo of maintenanceUrl?.maintenance?.photos">
                                                <ng-container
                                                    *ngIf="photo.is_before">
                                                    <a data-bs-toggle="modal"
                                                        data-bs-target="#exampleModal"
                                                        (click)="viewPhotoModal(photo.photo)">
                                                        <img
                                                            src="{{ urlPhotos + photo.photo }}"
                                                            alt="..."
                                                            class="img-thumbnail"
                                                            width="100px">
                                                    </a>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header"
                                    id="headingGaleriaDespues">
                                    <button class="accordion-button"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseGaleriaDespues"
                                        aria-expanded="true"
                                        aria-controls="collapseGaleriaDespues">
                                        <b>GALERÍA DE FOTOS DESPUÉS DEL
                                            ARREGLO</b>
                                    </button>
                                </h2>
                                <div id="collapseGaleriaDespues"
                                    class="accordion-collapse collapse"
                                    aria-labelledby="headingGaleriaDespues"
                                    data-bs-parent="#accordionGaleria">
                                    <div class="accordion-body">
                                        <div class="row mt-3">
                                            <div class="col"
                                                *ngFor="let photo of maintenanceUrl?.maintenance?.photos">
                                                <ng-container
                                                    *ngIf="!photo.is_before">
                                                    <a data-bs-toggle="modal"
                                                        data-bs-target="#exampleModal"
                                                        (click)="viewPhotoModal(photo.photo)">
                                                        <img
                                                            src="{{ urlPhotos + photo.photo }}"
                                                            alt="..."
                                                            class="img-thumbnail"
                                                            width="100px">
                                                    </a>

                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- inicia modal de fotos -->
                <div class="modal fade" id="exampleModal" tabindex="-1"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title"
                                    id="exampleModalLabel">Foto {{ photografy
                                    }}</h3>
                                <button type="button" class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <img [src]="urlPhotos + photografy" alt="..."
                                    class="img-thumbnail" width="100%">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- fin modal de fotos -->

            </div>

            <!-- Formulario -->
            <div class="col-lg-6">
                <div class="accordion" id="accordionExample2">

                    <div *ngIf="isAdmin" class="accordion-item vibrate">

                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button button-lila-obscuro"
                                type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo"
                                aria-expanded="true"
                                aria-controls="collapseTwo">
                                Formulario para Jefatura
                            </button>
                        </h2>

                        <div id="collapseTwo"
                            class="accordion-collapse collapse"
                            aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample2">
                            <div class="accordion-body">
                                <form (ngSubmit)="onSubmit()">

                                    <div class="row text-center">

                                        <!-- Fecha estimada -->
                                        <div class="mb-3 col-lg-6">
                                            <label for="date_estimated_delivery"
                                                class="form-label">Fecha de
                                                entrega:</label>
                                            <input type="date"
                                                id="date_estimated_delivery"
                                                name="date_estimated_delivery"
                                                class="form-control"
                                                [(ngModel)]="mainDetalle.date_estimated_delivery"
                                                required>
                                        </div>

                                        <!-- Estado y asignación -->
                                        <div class="mb-3 col-lg-6">
                                            <label for="status_id"
                                                class="form-label">Estado:</label>
                                            <select name="status_id"
                                                id="status_id"
                                                [(ngModel)]="mainDetalle.status_id"
                                                class="form-select">
                                                <option
                                                    *ngFor="let param of params"
                                                    [value]="param.id">{{param.name}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <!-- Tiene riesgo -->
                                        <div class="mb-3 col-lg-6 text-center">
                                            <label class="form-label">¿Tiene
                                                riesgo?</label>
                                            <div
                                                class="d-flex flex-row justify-content-center">
                                                <div class="form-check me-3">
                                                    <input
                                                        class="form-check-input"
                                                        type="radio"
                                                        name="has_risk"
                                                        [(ngModel)]="mainDetalle.has_risk"
                                                        [value]="true">
                                                    <label
                                                        class="form-check-label">SI</label>
                                                </div>
                                                <div class="form-check">
                                                    <input
                                                        class="form-check-input"
                                                        type="radio"
                                                        name="has_risk"
                                                        [(ngModel)]="mainDetalle.has_risk"
                                                        [value]="false">
                                                    <label
                                                        class="form-check-label">NO</label>
                                                </div>
                                            </div>
                                            <div class="form-AST"
                                                *ngIf="mainDetalle.has_risk == true">
                                                <a
                                                    href="../../../assets/files/statics/AST.docx"><h4><i
                                                            class="fa-solid fa-download"></i>
                                                        Descagar formulario
                                                        AST.docx</h4></a>
                                            </div>

                                        </div>

                                        <!-- Nivel de prioridad -->
                                        <div class="mb-3 col-lg-6 text-center">
                                            <label
                                                class="form-label">Prioridad:</label>
                                            <div
                                                class="d-flex flex-wrap justify-content-center">
                                                <div
                                                    *ngFor="let option of ['Baja', 'Media', 'Alta']"
                                                    class="form-check me-3 mb-2">
                                                    <input
                                                        class="form-check-input"
                                                        type="radio"
                                                        id="{{option}}"
                                                        name="priority"
                                                        [(ngModel)]="mainDetalle.priority"
                                                        [value]="option"
                                                        required>
                                                    <label
                                                        class="form-check-label"
                                                        for="{{option}}">{{option}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <label for="user_to_assign_id"
                                            class="form-label">Asignado
                                            a:</label>
                                        <select
                                            *ngIf="usersUrl && usersUrl.users"
                                            name="user_to_assign_id"
                                            id="user_to_assign_id"
                                            [(ngModel)]="mainDetalle.user_to_assign_id"
                                            class="form-select">
                                            <option
                                                *ngFor="let user of usersUrl.users"
                                                [value]="user.id">{{user.first_name}}
                                                {{user.last_name}}</option>
                                        </select>
                                    </div>

                                    <!-- Solución -->
                                    <div class="mb-3">
                                        <label for="solution"
                                            class="form-label">Solución:</label>
                                        <textarea class="form-control"
                                            name="solution"
                                            [(ngModel)]="mainDetalle.solution"
                                            rows="6"></textarea>
                                    </div>

                                    <button type="submit"
                                        class="btn btn-primary">Enviar</button>
                                </form>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>

        <!-- <div *ngIf="isAdmin" class="mt-4 p-4 bg-light border">
            <input type="file" #fileInput class="form-control mb-3" />
            <button (click)="uploadFile()" class="btn btn-primary">Subir
                archivo</button>
        </div> -->

    </div>
</div>
