

<mat-accordion class="custom-shadow-panel">
    <mat-expansion-panel expanded="true" class="mobile-friendly-panel">
        <mat-expansion-panel-header  style="background-color: rgb(46, 125, 179);">
            <mat-panel-title class="panel-title fw-bold text-white">Detalle de POA
            </mat-panel-title>
            <mat-panel-description class="panel-description text-white">Click para abrir
                POA</mat-panel-description>
            <mat-panel-description class="panel-description text-white">Depto.
                {{poaDetail?.department}}</mat-panel-description>
        </mat-expansion-panel-header>

        @if (poaDetail?.status == fullname && email != 'financiero@ism.edu.ec'
        &&
        email != 'direccionfinanciera@ism.edu.ec' ) {
        <!-- FORMULARIO PARA USUARIOS MODIFICADORES -->
        <div class="poaDet" *ngIf="is_edit == false">
            <div class="poa-details poaDet mt-4">
                <div class="row mb-3">
                    <div class="col-md-4">
                        <strong>Creador del POA:</strong>
                        {{poaDetail.creator_info.name}}
                    </div>
                    <div class="col-md-4">
                        @if(poaDetail.academic_year_id == 19){
                        <strong>Periodo:</strong> 2024-2025
                        }
                    </div>
                    <div class="col-md-4">
                        <strong>Área:</strong> {{poaDetail.area}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <strong>Objetivo:</strong> {{poaDetail.objective}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class=" d-flex justify-content-center"
                *ngIf="poaDetail.status == fullname">
                <button *ngIf="is_edit == false" mat-raised-button
                    class="poaDet" (click)="editPoa()">Editar <i
                        class="fa-regular fa-pen-to-square me-2"></i></button>
            </div>
        </div>
        <div class="poaDet" *ngIf="is_edit == true">
            <form (ngSubmit)="Update()">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3">
                            <div class="form-group">
                                <label for="area"
                                    class="form-label"><i
                                        class="fa-solid fa-landmark me-2"></i>Área</label>
                                <input type="text" class="form-control"
                                    name="area"
                                    maxlength="50"
                                    [(ngModel)]="poaDetail.area">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3">
                        <div class="form-group">
                            <label for="objective"
                                class="form-label"><i
                                    class="fa-solid fa-bullseye me-2"></i>Objetivo</label>
                            <textarea type="text" class="form-control"
                                max="500"
                                name="objective"
                                [(ngModel)]="poaDetail.objective">
                                </textarea>
                        </div>
                    </div>
                </div>
                @if (allActivities.length == 0) {
                <div class="container mt-4 mb-3">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="enterprises"
                                class="form-label">Empresas</label>
                            <div *ngFor="let enterprise of enterprises"
                                class="form-check">
                                <input
                                    type="checkbox"
                                    class="form-check-input"
                                    [id]="'enterprise-' + enterprise.id"
                                    [checked]="isEnterpriseSelected(enterprise.id)"
                                    (change)="toggleEnterpriseSelection($event, enterprise)" />
                                <label class="form-check-label"
                                    [for]="'enterprise-' + enterprise.id">
                                    {{ enterprise.name }}
                                </label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label for="campuses"
                                class="form-label font-weight-bold">Campus</label>
                            <div *ngFor="let campus of campuses" class="row">
                                <div class="col-md-8 form-check">
                                    <input
                                        type="checkbox"
                                        class="form-check-input"
                                        [id]="'campus-' + campus.id"
                                        [checked]="isCampusSelected(campus.id)"
                                        (change)="toggleCampusSelection($event, campus)">
                                    <label class="form-check-label"
                                        [for]="'campus-' + campus.id">
                                        {{ campus.name }}
                                    </label>
                                    <i *ngIf="isCampusSelected(campus.id)"
                                        class="bi bi-check-circle text-success"></i>
                                </div>
                            </div>
                        </div>
                        <p class="text-dark"><i
                                class="fa-solid fa-circle-exclamation me-2"></i><strong>Nota:
                            </strong>Una vez haya creado las actividades estos campos no
                            se podrán modificar.</p>
                    </div>
                </div>
                } @else {
                <div class="container mt-2 mb-3">
                    <div class="row">
                        <div class="col-md-6">

                            <div class="col-12 text-center mb-3">
                                <h3>Campus elegidos</h3>
                            </div>
                            <div
                                class="col-12 d-flex justify-content-center flex-wrap">
                                <div class="me-3 card p-1"
                                    *ngFor="let campus of selectedCampusNames">
                                    {{campus}}
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="col-12 text-center mb-3">
                                <h3>Empresas</h3>
                            </div>
                            <div
                                class="col-12 d-flex justify-content-center flex-wrap">
                                <div class="me-3 card p-1"
                                    *ngFor="let enterprise of selectedEnterpriseNames">
                                    {{enterprise}}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                }

                <div class="row">
                    <div class="col-md-12 d-flex justify-content-evenly">
                        <button class="poaDet" mat-raised-button color="primary"
                            type="submit">Actualizar POA</button>
                        <a class="poaDet" mat-raised-button
                            (click)="noEdit()">Cancelar</a>
                        <a *ngIf="poaDetail.status != 'APROBADO'"
                            class="poaDet" matTooltip="Eliminar POA"
                            mat-mini-fab color="warn"
                            style="color: white;"
                            (click)="onDelete()"><mat-icon>delete</mat-icon></a>
                    </div>
                </div>
            </form>

        </div>
        <!-- FIN FORMULARIO PARA USUARIOS MODIFICADORES -->
        }@else{
        <!-- MUESTRA INFO DEL POA - USUARIOS NO MODIFICADORES -->
        <div class="poa-details poaDet">
            <div class="row mb-3">
                <div class="col-md-4">
                    <strong>Creador del POA:</strong>
                    {{poaDetail?.creator_info.name}}
                </div>
                <div class="col-md-4">
                    @if(poaDetail?.academic_year_id == 19){
                    <strong>Periodo:</strong> 2024-2025
                    }
                </div>
                <div class="col-md-4">
                    <strong>Área:</strong> {{poaDetail?.area}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <strong>Objetivo:</strong> {{poaDetail?.objective}}
                </div>
            </div>
        </div>
        <!-- MUESTRA INFO DEL POA - USUARIOS NO MODIFICADORES -->
        }
    </mat-expansion-panel>
</mat-accordion>
