<main class="container">
    <div
        class="d-flex justify-content-center flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
        <h1 class="h2">Reservación de cursos
            vacacionales</h1>
    </div>

    <!-- INICIA FORMULARIO -->

    <form>
        <div class="card">
            <div class="row">
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="cedula" class="form-label">Número de
                            Cédula</label>
                        <input [(ngModel)]="padre.dni" type="text"
                            name="dni" class="form-control" id="dni"
                            (change)="getinfoPadre()"
                            (keyup.enter)="validaCedula($event)"
                            (blur)="validaCedula($event)"
                            (keypress)="validateNum($event)"
                            maxlength="10"
                            placeholder="Número de Cédula"
                            required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre
                            completo</label>
                        <input id="nombres"
                            [(ngModel)]="padre.name"
                            name="name" type="text"
                            class="form-control"
                            placeholder="Nombre completo"
                            required>
                    </div>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                    <div class="mb-3">
                        <label
                            for="sector"
                            class="form-label">Sector
                        </label>
                        <app-select2
                            [options]="selectOptions"
                            [ngModel]="padre.sector_address_id"
                            name="sector_address_id"
                            placeholder="Selecciona un sector"
                            (selectionChange)="onSectorChange($event)">
                        </app-select2>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-between">
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="direccion"
                            class="form-label">Dirección</label>
                        <input id="nombres"
                            [(ngModel)]="padre.address"
                            name="adress" type="text"
                            class="form-control"
                            placeholder="Dirección"
                            required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="telefono"
                            class="form-label">Teléfono</label>
                        <input
                            [(ngModel)]="padre.phone"
                            name="phone" type="text"
                            class="form-control"
                            id="phone"
                            (keypress)="validateNum($event)"
                            maxlength="10"
                            required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input
                            [(ngModel)]="padre.email"
                            name="email"
                            type="email"
                            class="form-control"
                            id="email"
                            required
                            #emailInput="ngModel"
                            [class.is-invalid]="emailInput.invalid && (emailInput.dirty || emailInput.touched)">
                        <div
                            *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)"
                            class="invalid-feedback">
                            Por favor, ingrese un correo electrónico válido.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 text-center">
                    <a type="submit"
                        class="btn btn-primary"
                        style="margin-left: 1rem;" *ngIf="padre.is_innovu"
                        (click)="updatePadre()">
                        Actualizar
                    </a>
                    <a type="submit" class="btn btn-primary"
                        style="margin-left: 1rem;" *ngIf="!padre.is_innovu"
                        (click)="createVacInscription()">
                        Guardar
                    </a></div>
                <div class="col-md-4"></div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <!-- boton paraga agregar estudiante -->
            <div class="col-md-4" *ngIf="padre.dni">
                <button data-bs-toggle="modal" title="Agregar estudiante"
                    data-bs-target="#exampleModal3"
                    type="button" class="mt-2 mb-2">
                    Agregar estudiante
                    <!-- <span
                        class>
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-bookmark-plus"
                            width="24" height="24" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="#ffffff" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path
                                d="M12 17l-6 4v-14a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v5" />
                            <path d="M16 19h6" />
                            <path d="M19 16v6" />
                        </svg></span> -->
                </button>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
        </div>
    </form>
    <!-- INICIA FORMULARIO -->
    <div class="row mb-4 mt-2 text-center"
        id="card-container">
        <div class="col" *ngFor="let son of sons; let i = index">
            <button class="btn btn-success"
                (click)="showStudent(son.id)"> {{
                son.first_name }} {{ son.last_name }}</button>
        </div>
    </div>
    <!-- datos del estudiante al hacer click en nombre del estudiante -->
    <div id="Servicios-estudiante mt-4">

        <mat-accordion multi="true" class="mt-4" *ngIf="studentSon.id ">
            <mat-expansion-panel (opened)="panelOpenState = true"
                (closed)="panelOpenState = false" expanded>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ studentSon.first_name }}
                        {{ studentSon.last_name }}

                    </mat-panel-title>
                    <mat-panel-description>
                        Cédula: {{ studentSon.dni }} / Dirección: {{
                        padre.address }}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <form (ngSubmit)="updateStudent()">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label
                                    for="dni"
                                    class="form-label">Cédula</label>
                                <input
                                    [(ngModel)]="studentSon.dni"
                                    name="dni"
                                    type="text"
                                    class="form-control"
                                    placeholder="Cédula"
                                    required />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label
                                    for="first_name"
                                    class="form-label">Nombre</label>
                                <input
                                    [(ngModel)]="studentSon.first_name"
                                    name="firs_name"
                                    type="text"
                                    class="form-control"
                                    placeholder="name"
                                    required />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label
                                    for="last_name"
                                    class="form-label">Apellidos</label>
                                <input
                                    [(ngModel)]="studentSon.last_name"
                                    name="last_name"
                                    type="text"
                                    class="form-control"
                                    placeholder="Apellido"
                                    required />
                            </div>
                        </div>
                    </div>
                    <button type="submit"
                        class="btn btn-secondary">Guardar datos</button>
                </form>
            </mat-expansion-panel>

        </mat-accordion>

        <!-- <div class="table-responsive">
            <div class="table-container">
                
            </div>
        </div> -->
    </div>
</main>

<!-- INICIA MATRIZ -->
<table class="container">
    <thead>
        <th>Fecha:</th>
        <th class="text-center"
            *ngFor="let week of weeks">
            {{ week.date_week }}
        </th>
        <tr class="text-center">
            <th>
                Disciplina
            </th>
            <th
                *ngFor="let week of weeks"
                class="text-center">
                {{week.name}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let service of services; let i = index"
            [ngClass]="{
            'last-row': i === services.length - 1,
            'second-last-row': i === services.length - 2,
            'third-last-row': i === services.length - 3
        }">
            <td *ngIf="service.name">
                {{service.name}}
                <span *ngIf="i >= services.length - 3"
                    class="extra-label">(Servicio extra)</span>
            </td>
            <td *ngFor="let week of weeks" class="text-center">
                <ng-container
                    *ngIf="activeService(week, service) === false; else checkboxTemplate">
                    <span class="disabled-icon">&#10005;</span>
                </ng-container>
                <ng-template #checkboxTemplate>
                    <input
                        type="checkbox"
                        *ngIf="service.name != 'TRANSPORTE'"
                        [checked]="activeService(week, service) === true"
                        (click)="registerServices(week.id, service.id)">
                    <input *ngIf="service.name == 'TRANSPORTE'"
                        data-bs-toggle="modal"
                        [checked]="activeService(week, service) === true"
                        data-bs-target="#exampleModalTransporte"
                        type="checkbox"
                        (click)="modalTransport(week.id, service.id);">
                </ng-template>
            </td>
        </tr>
    </tbody>

    <div class="d-flex justify-content-between">

        <!-- Botón flotante -->
        <!-- (click)="openTotalCostModal()" -->
        <button class="float-button mt-3 mb-3" *ngIf="padre.id > 0"
            (click)="goCheckout()">
            <svg xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-shopping-cart"
                width="44"
                height="44" viewBox="0 0 24 24" stroke-width="1"
                stroke="#ffffff" fill="none"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z"
                    fill="none" />
                <path
                    d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                <path
                    d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                <path d="M17 17h-11v-14h-2" />
                <path d="M6 5l14 1l-1 7h-13" />
            </svg>
            {{ totalCost | currency }}
        </button>
    </div>
</table>

<!-- FINALIZA MATRIZ -->

<div *ngIf="isLoading" class="overlay"></div>
<div *ngIf="isLoading" class="spinner-container">
    <div class="spinner-grow" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<!-- modal para crear estudiante -->
<div class="modal fade" id="exampleModal3" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content container">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar
                    datos del estudiante</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <form class="mt-4" (ngSubmit)="createNewSon()"
                #studentForm="ngForm">
                <div class="row">
                    <div class="form-group">
                        <label for="dni">DNI:</label>
                        <input type="text" class="form-control" id="dni"
                            name="dni"
                            [(ngModel)]="student.dni"
                            maxlength="10"
                            required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="first_name">Nombre:</label>
                            <input type="text" class="form-control"
                                id="first_name"
                                name="first_name"
                                [(ngModel)]="student.firs_name"
                                required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="last_name">Apellido:</label>
                            <input type="text" class="form-control"
                                id="last_name"
                                name="last_name" [(ngModel)]="student.last_name"
                                required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 d-flex justify-content-center">
                        <div class="form-group ">
                            <label for="sector_address_id">ID de dirección del
                                sector:</label>
                            <app-select2
                                [options]="selectOptions"
                                [ngModel]="student.sector_address_id"
                                name="sector_address_id"
                                placeholder="Selecciona un sector"
                                (selectionChange)="onSectorChange($event)">
                            </app-select2>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="address">Dirección:</label>
                            <input type="text" class="form-control" id="address"
                                name="address" [(ngModel)]="student.address"
                                required>
                        </div>

                    </div>
                    <button type="submit" class="btn btn-primary text-center "
                        [disabled]="!studentForm.valid">Agregar
                        Estudiante</button>
                </div>

            </form>
        </div>
    </div>
</div>

<!-- Modal para elegir transporte -->
<div class="modal fade" id="exampleModalTransporte" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center">
                <h1 class="modal-title text-center fs-5"
                    id="exampleModalLabel">Seleccione
                    sectores para recorrido</h1>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="sendTransPort()">
                    <div class="row text-center">
                        <div class="col-md-6 border-end">
                            <label for="sector_inicia" class="form-label">Sector
                                Inicia</label>
                            <p>{{ transport.sector_origin_name }}</p>
                            <div class="mb-3 d-flex justify-content-center">
                                <app-select2
                                    [options]="selectOptions"
                                    [ngModel]="transport.sector_origin_id"
                                    name="sector_address_id"
                                    placeholder="Agregar o cambiar"
                                    (selectionChange)="onSectorChange3($event)">
                                </app-select2>
                            </div>
                            <label for="address_origin"
                                class="form-label">Dirección Inicia</label>

                            <div class="mb-3">
                                <input class="text-center"
                                    name="address_origin"
                                    type="text"
                                    [(ngModel)]="transport.address_origin" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="sector_termina"
                                class="form-label">Sector de entrega</label>
                            <p>{{ transport.sector_delivery_name }}</p>

                            <div class="mb-3 d-flex justify-content-center">
                                <app-select2
                                    [options]="selectOptions"
                                    [ngModel]="transport.sector_delivery_id"
                                    name="sector_address_id"
                                    placeholder="Agregar o cambiar"
                                    (selectionChange)="onSectorChange2($event)">
                                </app-select2>
                            </div>
                            <div class="mb-3">
                                <label for="address_delivery"
                                    class="form-label">Dirección de
                                    entrega</label>
                                <input
                                    class="text-center"
                                    name="address_delivery"
                                    type="text"
                                    [(ngModel)]="transport.address_delivery" />
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-warning" role="alert">
                        "Si ya no necesita transporte, seleccione/escriba
                        "Sin recorrido" en
                        todos los campos para evitar el cobro."
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary">Guardar
                            cambios</button>
                        <a type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Cerrar</a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
