<app-header-app></app-header-app>


<div class="container">

    <h3>Indicadores BI</h3>

    <div class="m-5">
        <div class="">
            <div class="row p-3" style="background-color: #f0f0f0;">
                <div class="col-12">DESARROLLO DE SOFTWARE</div>
            </div>

            <div class="row mt-3">
                <div class="col-lg-3 col-md-3">
                    <a class="a-no-decoration" target="_blank" href="https://app.powerbi.com/groups/me/reports/2333c085-d538-49f8-8403-3cbbcc449a76/489522b5da5065cc5ab2?experience=power-bi">
                        <div class="card text-center">
                            <div class="card-body">
                                <i class="fa-solid fa-chart-line icon-report"></i>
                                <p class="card-text">Avances de proyectos</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>