<app-header-app></app-header-app>
<h1 class="text-center mt-4">Generar POA <span
        class="period">Periodo: {{
        academicYearId }}</span></h1>

<div class="row text-center">
    <h3>{{ cedula?.nombre }}</h3>
    <h4 style="color: rgb(95, 92, 92);">{{
        cedula?.departamento }}</h4>
</div>

<div class="container">
    <div class="row" *ngIf="cedula && cedula?.nombre && cedula?.departamento">
        <div class="col-md-6 overflow-auto">
            <div class="form-group">
                <mat-stepper orientation="vertical" [linear]="isLinear"
                    #stepper>
                    <form [formGroup]="poaForm">
                        <mat-step [stepControl]="poaForm.get('companiesStep')!">
                            <form formGroupName="companiesStep">
                                <ng-template matStepLabel>Empresas</ng-template>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label
                                                class="form-label fw-bold">Empresas</label>
                                            <div id="checklist"
                                                class="d-flex flex-wrap">
                                                <div
                                                    *ngFor="let company of companies; let i = index"
                                                    class="form-check form-check-inline">
                                                    <input
                                                        class="form-check-input"
                                                        type="checkbox"
                                                        [value]="company"
                                                        id="company-{{i}}"
                                                        (change)="onCompanyChange($event, company)">
                                                    <label
                                                        class="form-check-label"
                                                        for="company-{{i}}">{{
                                                        company }}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <button mat-button matStepperNext
                                        [disabled]="!poaForm.get('companiesStep')!.valid">Next</button>
                                </div>
                            </form>
                        </mat-step>

                        <mat-step [stepControl]="poaForm.get('campusesStep')!">
                            <form formGroupName="campusesStep">
                                <ng-template matStepLabel>Campus</ng-template>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label
                                            class="form-label fw-bold">Campus</label>
                                        <div id="checklist"
                                            class="d-flex flex-wrap">
                                            <div
                                                *ngFor="let campus of campuses; let i = index"
                                                class="form-check form-check-inline">
                                                <input class="form-check-input"
                                                    type="checkbox"
                                                    [value]="campus"
                                                    id="campus-{{i}}"
                                                    (change)="onCampusChange($event, campus)">
                                                <label class="form-check-label"
                                                    for="campus-{{i}}">{{ campus
                                                    }}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <button mat-button
                                        matStepperPrevious>Back</button>
                                    <button mat-button matStepperNext
                                        [disabled]="!poaForm.get('campusesStep')!.valid">Next</button>
                                </div>
                            </form>
                        </mat-step>

                        <mat-step [stepControl]="poaForm.get('areaStep')!">
                            <form formGroupName="areaStep">
                                <ng-template matStepLabel>Área</ng-template>
                                <div class="mb-3" style="width: 100%;">
                                    <mat-form-field appearance="outline"
                                        style="width: 100%;">
                                        <mat-label for="area">Área</mat-label>
                                        <input matInput formControlName="area"
                                            style="width: 100%;" type="text"
                                            id="area" required>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <button mat-button
                                        matStepperPrevious>Back</button>
                                    <button mat-button matStepperNext
                                        [disabled]="!poaForm.get('areaStep')!.valid">Next</button>
                                </div>
                            </form>
                        </mat-step>

                        <mat-step [stepControl]="poaForm.get('objectiveStep')!">
                            <form formGroupName="objectiveStep">
                                <ng-template matStepLabel>Objetivo</ng-template>
                                <div class="mb-3">
                                    <mat-form-field appearance="outline"
                                        style="width: 100%;">
                                        <mat-label
                                            for="objective">Objetivo</mat-label>
                                        <textarea id="objective"
                                            style="width: 100%;"
                                            maxlength="1000" matInput
                                            formControlName="objective"
                                            rows="3" required></textarea>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <button mat-button
                                        matStepperPrevious>Back</button>
                                    <button mat-button (click)="onCreate()"
                                        [disabled]="!poaForm.valid">Create
                                        POA</button>
                                </div>
                            </form>
                        </mat-step>
                    </form>
                </mat-stepper>

            </div>
        </div>

        <!-- muestra info ingresada para creacion de poa -->
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-md-8 info-message mat-elevation-z3"
            *ngIf="!cedula || !cedula.nombre || !cedula.departamento">
            <mat-icon class="info-icon">info</mat-icon>
            <p class="info-text">
                Un momento estamos validando la información en COMPERS.
            </p>
        </div>

    </div>
</div>
<div class="overlay" *ngIf="isLoading">
    <div class="spinner-container">
        <mat-spinner></mat-spinner>
    </div>
</div>