<app-header-app></app-header-app>
@if(is_Boss == true || email == 'financiero@ism.edu.ec' || email == 'direccionfinanciera@ism.edu.ec'){

<h1 class="text-center mt-4">Generar POA <span
        class="period">Periodo: {{
        academicYearId }}</span></h1>

<div class="container">
    <div class="row"
        *ngIf="compersData && compersData?.nombre && compersData?.departamento">
        <div class="col-md-6 overflow-auto d-flex justify-content-center"
            style="height: 450px;">
            <div class="form-group">
                <mat-stepper orientation="vertical" [linear]="true"
                    #stepper>
                    <form [formGroup]="poaForm">
                        <mat-step [stepControl]="poaForm.get('areaStep')!">
                            <form formGroupName="areaStep">
                                <ng-template matStepLabel>Área</ng-template>
                                <div class="mb-3" style="width: 100%;">
                                    <mat-form-field appearance="outline"
                                        style="width: 100%;">
                                        <mat-label for="area">Área</mat-label>
                                        <input matInput formControlName="area"
                                            style="width: 100%;" type="text"
                                            id="area" required>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <button mat-button matStepperNext
                                        [disabled]="!poaForm.get('areaStep')!.valid">Siguiente</button>
                                </div>
                            </form>
                        </mat-step>

                        <mat-step [stepControl]="poaForm.get('objectiveStep')!">
                            <form formGroupName="objectiveStep">
                                <ng-template matStepLabel>Objetivo</ng-template>
                                <div class="mb-3">
                                    <mat-form-field appearance="outline"
                                        style="width: 100%;">
                                        <mat-label
                                            for="objective">Objetivo</mat-label>
                                        <textarea id="objective"
                                            style="width: 100%;"
                                            maxlength="1000" matInput
                                            formControlName="objective"
                                            rows="3" required></textarea>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <button mat-button
                                        matStepperPrevious>Regresar</button>
                                    <button mat-button (click)="onCreate()"
                                        [disabled]="!poaForm.valid">Create
                                        POA</button>
                                </div>
                            </form>
                        </mat-step>
                    </form>
                </mat-stepper>
            </div>
        </div>

        <!-- muestra info ingresada para creacion de poa -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title fw-bold text-center">Detalles del
                        POA</h6>
                    <div class="row">
                        <div class="col-md-6">
                            <h5><b>Responsable: </b>{{ compersData?.nombre
                                }}</h5>
                        </div>
                        <div class="col-md-6">
                            <h5 style="color: rgb(95, 92, 92);"><b>Departamento:
                                </b>{{
                                compersData?.departamento }}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 ">
                            <div *ngIf="poaForm.get('areaStep.area')?.value">
                                <hr>
                                <h6 class="fw-bold">Área:</h6>
                                <p class="text-truncate" id="show_area">{{
                                    poaForm.get('areaStep.area')?.value }}</p>
                            </div>
                        </div>
                        <div class="col-md-6  overflow-auto" style="height: 100px;">
                            <div
                                matTooltip="{{poaForm.get('objectiveStep.objective')?.value }} "
                                *ngIf="poaForm.get('objectiveStep.objective')?.value">
                                <hr>
                                <h6 class="fw-bold">Objetivo:</h6>
                                <p id="show_objective">{{
                                    poaForm.get('objectiveStep.objective')?.value
                                    }}</p>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        
                    </div>
                    <hr>
                    <div class="row">
                        @if (poaId != 0) {
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="enterprises" class="form-label">Empresas</label>
                                    <div *ngFor="let enterprise of enterprises" class="form-check">
                                        <input
                                            type="checkbox"
                                            class="form-check-input"
                                            [id]="'enterprise-' + enterprise.id"
                                            [checked]="isEnterpriseSelected(enterprise.id)"
                                            (change)="toggleEnterpriseSelection($event, enterprise.id)"
                                        />
                                        <label
                                            class="form-check-label"
                                            [for]="'enterprise-' + enterprise.id">
                                            {{ enterprise.name }}
                                        </label>
                                    </div>
                                </div>
                                
                                <div class="col-md-6">
                                    <label for="campuses" class="form-label">Campus</label>
                                    <div *ngFor="let campus of campuses" class="row">
                                        <div class="col-md-8 form-check">
                                            <input
                                                type="checkbox"
                                                class="form-check-input"
                                                [id]="'campus-' + campus.id"
                                                [checked]="isCampusSelected(campus.id)"
                                                (change)="toggleCampusSelection($event, campus.id)"
                                            />
                                            <label
                                                class="form-check-label"
                                                [for]="'campus-' + campus.id">
                                                {{ campus.name }}
                                            </label>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            @if (poaId != 0) {
            <div class="row mt-2">
                <div class="col-md-6 d-flex justify-content-center">
                    <button mat-raised-button color="primary"
                        (click)="goMyPoas()">
                        Ir a mi poa</button>

                </div>
                <div class="col-md-6 d-flex justify-content-center">
                    <button mat-raised-button color="warn"
                        routerLink="/home-poa">
                        Ir al listado</button>
                </div>
            </div>
            }
        </div>
        <!-- muestra info ingresada para creacion de poa -->
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-md-8 info-message mat-elevation-z3"
            *ngIf="!compersData || !compersData.nombre || !compersData.departamento">
            <mat-icon class="info-icon">info</mat-icon>
            <p class="info-text">
                Un momento estamos validando la información en COMPERS.
            </p>
        </div>

    </div>
</div>
<div class="overlay" *ngIf="isLoading">
    <div class="spinner-container">
        <mat-spinner></mat-spinner>
    </div>
</div>
} @else {
    <div class="row error-container">
        <div class="col-md-6 error-content">
            <div class="error-icon">&#x26D4;</div>
            <h1 class="mt-4">Acceso Denegado</h1>
            <p class="lead">No tienes permisos para ingresar a esta página.</p>
            <a routerLink="/main" class="btn btn-primary mt-3">Volver al Inicio</a>
        </div>
    </div>
}

