<div class="background-image">
    <div class="container">
        <h1 class="text-center mt-4">Pago de cursos vacacionales</h1>
        <div class="row justify-content-around">
            <div class="col-md-5">
                <div class="card">
                    <h2 class="text-center">Datos de facturación</h2>
                    <div class="card-body">
                        <form (ngSubmit)="onSubmit()" #paymentForm="ngForm"
                            class="form-container">
                            <div class="mb-3">
                                <mat-label class="form-label">Nombre
                                    Completo</mat-label>
                                <input matInput type="text" class="form-control"
                                    [(ngModel)]="padreCheckout.name" name="name"
                                    required>
                            </div>
                            <div class="mb-3">
                                <mat-label class="form-label">E-mail</mat-label>
                                <input matInput type="email"
                                    class="form-control"
                                    [(ngModel)]="padreCheckout.email"
                                    name="email"
                                    required>
                            </div>

                            <div class="mb-3">
                                <mat-label class="form-label">Cédula</mat-label>
                                <input matInput type="text" class="form-control"
                                    [(ngModel)]="padreCheckout.dni"
                                    name="document"
                                    maxlength="13" required>

                            </div>
                            <div class="mb-3">
                                <mat-label
                                    class="form-label">Teléfono</mat-label>
                                <input matInput type="text" class="form-control"
                                    [(ngModel)]="padreCheckout.phone"
                                    name="phones"
                                    maxlength="10" required>
                            </div>
                            <div class="mb-3 form-label">
                                <mat-label>Dirección</mat-label>
                                <input matInput type="text" class="form-control"
                                    [(ngModel)]="padreCheckout.address"
                                    name="address" required>
                            </div>
                            <div class="mb-3">
                                <mat-label
                                    class="form-label">Descripción</mat-label>
                                <input matInput type="text" class="form-control"
                                    [(ngModel)]="payment.description"
                                    name="description" required>
                            </div>

                            <div
                                class="button-container d-flex justify-content-evenly">
                                <button mat-raised-button type="button"
                                (click)="showTransfer()"
                                    class="btn btn-primary">Pago por
                                    transfencia</button>
                                <div class="divider"></div>
                                <button mat-raised-button type="submit"
                                    class="btn btn-primary"
                                    (click)="onSubmit()">Tarjeta crédito
                                    o Débito</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center">Costo Total</h2>
                        <hr>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Subtotal:</td>
                                    <td class="data">{{ subtotal | currency
                                        }}</td>
                                </tr>
                                <tr>
                                    <td>Descuento por Hermanos:</td>
                                    <td class="data">{{ discountBrothers }}</td>
                                </tr>
                                <tr>
                                    <td>Descuento por Semanas:</td>
                                    <td class="data">{{ discountWeeks }}</td>
                                </tr>
                                <tr>
                                    <td>Descuento Total:</td>
                                    <td class="data">{{ discountTotal | currency
                                        }}</td>
                                </tr>
                                <tr>
                                    <td>Total servicios extra:</td>
                                    <td class="data">{{ total_extras }}</td>
                                </tr>
                                <tr
                                    style="background-color: #65b2e8;color: white;">
                                    <td>Total:</td>
                                    <td class="data">{{ totalCost | currency
                                        }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card mt-2" *ngIf="showTransfer">
                    <div class="card-body">
                        <h2 class="card-title text-center">Pago por
                            transferencia</h2>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for class="form-label">Entidad
                                        bancaria</label>
                                    <input
                                        [(ngModel)]="padre.bank"
                                        type="text" class="form-control"
                                        placeholder="Escribe tu banco">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class=" mb-3">
                                    <label for="voucher"
                                        class="form-label">Agregue
                                        número de comprobante de pago</label>
                                    <input type="text" class="form-control"
                                        [(ngModel)]="padre.voucher">
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="img" class="form-label">Suba una
                                imagen</label>
                            <input type="file" #fileInput
                                class="form-control mb-3" />
                            <button (click)="uploadImage(true)"
                                class="btn btn-primary">Subir
                                archivo</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
