<app-header></app-header>

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <div class="input-group mb-2 search-bar">
                <input type="text" class="form-control search-input"
                    placeholder="Buscar descripción o sitio" aria-label="Buscar"
                    aria-describedby="basic-addon2" (keyup)="filterSearch()"
                    [(ngModel)]="maintSearch">
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-lg-4 col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center;">Filtrar
                        por estado</h5>
                    <div class="card-body">
                        <!-- Botón para limpiar el filtro de estado -->
                        <div class="list-group">
                            <!-- Lista de estados -->
                            @for (status of statuses; track $index) {
                            <a class="list-group-item list-group-item-action"
                                (click)="filterStatus(status)"
                                [class.active]="selectedStatus === status">{{
                                status }}</a>
                            }
                        </div>
                    </div>
                </div>
                <button class="btn mb-2" (click)="clearStatusFilter()">Quitar
                    filtro</button>

            </div>

        </div>

        <div class="col-lg-8 col-md-8">
            <div class="row overflow-auto" style="max-height: 600px;">
                <div class="col-lg-6 col-md-6"
                    *ngFor="let maintenance of filtrarMant">
                    <div class="card mb-3 position-relative">
                        <div class="card-body">
                            <span
                                class="badge text-bg-primary rounded-pill position-absolute top-0 end-0">
                                ID: {{ maintenance.id }}
                            </span>
                            <h5 class="card-title">{{ maintenance.type_incident
                                }}</h5>
                            <h6 class="card-subtitle fecha">Fecha/Hora: {{
                                maintenance.case.created }}</h6>
                            <p class="card-text">Sitio: {{ maintenance.site
                                }}</p>
                            <p class="card-text">Descripción: {{
                                maintenance.description_incident }}</p>
                                <p
                                class="card-text">Puntuación:
                                {{
                                maintenance.score ? maintenance.score + '/5' :
                                'Sin calificar' }}</p>
                            <p class="card-text rounded-pill text-center">{{
                                maintenance.case.status.name }}</p>
                            
                            <a routerLink="/maint-detail/{{ maintenance.id }}"
                                class="btn ver">Ver más...</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                    <li class="page-item">
                        <a class="page-link" *ngIf="actualPage > 1"
                            (click)="list(actualPage-1)">Anterior</a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link" routerLink="#" enabled>{{ actualPage
                            }}</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" *ngIf="actualPage < totalPages"
                            (click)="list(actualPage+1)">Siguiente</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</div>


