/* *{
    background-color: aqua;
} */

li {
    font-weight: bold;
}

li:hover {
    color: #8002cd !important;
    cursor: pointer;
}

.card-main {
    transition: transform 0.3s ease;
}

.card-main:hover {
    transform: scale(1.05);
}

.list-group {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

.card {
    border-radius: 20px;
}


.card_proces {
    text-align: center;
    font-weight: bold;
}

.card-title {
    font-size: 1.2rem;
}

h6 {
    font-size: .9rem;
}

.mt-4 {
    display: grid;
    gap: 1rem;
    padding: 1rem;
}

h4 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}

.list-group-item-action {
    text-decoration: none;
}


.search-bar {
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid #ccc;

}

.search-input {
    border: none;
    /* Elimina el borde predeterminado del input */
    border-radius: 20px;
    /* Ajusta el radio de borde según tu preferencia */
}

.search-button {
    border-radius: 0 20px 20px 0;
    /* Redondea solo el borde derecho del botón */
}

.card-body {
    margin-top: 1rem;
    border-radius: 20px;
}

.search-input::placeholder {
    text-align: center;
    /* Centra el texto del placeholder */
}

.btn {
    border-radius: 20px;
    border: 1px solid #ff9e18;
    color: #ff9e18;
}

.btn:hover {
    background-color: #ff9e18;
    color: black;
}

.fecha {
    /* background-color: black;
    border-radius: 20px;
    color: #ff9e18; */
}

.card-title {
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
}

.overflow-auto {
    /* Estilo WebKit (Chrome, Safari) */
    scrollbar-width: thin;
    /* Ancho del scrollbar en Firefox */
    scrollbar-color: rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.1);
    /* Color del thumb y track en Firefox */

    /* Estilo para navegadores no-WebKit */
    /* Para Microsoft Edge */
    -ms-overflow-style: -ms-autohiding-scrollbar;
    /* Oculta el scrollbar cuando no se está utilizando en Edge */
}

/* Estilo para el thumb del scrollbar en Firefox */
.overflow-auto::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    /* Color del thumb en WebKit */
}

g

/* Estilo para el thumb del scrollbar al pasar el ratón en Firefox */
.overflow-auto::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
    /* Color del thumb al pasar el ratón en WebKit */
}

/* Estilo para el track del scrollbar en Firefox */
.overflow-auto::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
    /* Color del track en WebKit */
}


.rounded-pill {
    background-color: #c0bfbb;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-size: 0.8rem;
}

.list-group-item.active {
    background-color: #ff9e18;
    border: none;
}

.estado-punto {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
