<div class="background">
  <form class="login-form" (ngSubmit)="onSubmit()">
    <div>
      <label for="username"><i class="fa-solid fa-user"></i> Nombre de Usuario:</label>
      <input type="text" id="username" name="username"
        [(ngModel)]="user.username"
        required>
    </div>
    <div>
      <label for="password"><i class="fa-solid fa-key"></i> Contraseña:</label>
      <input type="password" id="password" name="password"
        [(ngModel)]="user.password" required>
    </div>
    <button class="login-button" type="submit">Iniciar Sesión</button>

  </form>

</div>
