<!-- <a class="me-2" style="font-size: .7rem;color:black;cursor: pointer;"
    *ngIf="email === 'financiero@ism.edu.ec' || email === 'direccionfinanciera@ism.edu.ec'"
    data-bs-toggle="modal" data-bs-target="#notStarted">
    No iniciado ({{notStartedPoa?.length}})
</a> -->

<!-- modal para visualizar departamentos que no han iniciado el poa  -->
<div class="modal fade" id="notStarted" tabindex="-1"
    aria-labelledby="notStarted" aria-happ-not-started-depsidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5"
                    id="exampleModalLabel">Departamentos sin envio de POA
                    ({{notStartedPoa?.length}})</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h2 class="text-xl font-bold mb-4">Departamentos que no han
                    iniciado:</h2>
                <div class="grid grid-cols-3 gap-4">
                    <div *ngFor="let dep of notStartedPoa"
                        class="p-2 border-gray-200 rounded">
                        <mat-card class="department-card">
                            <mat-card-header>
                                <mat-icon aria-hidden="false"
                                    aria-label="Building icon">business</mat-icon>
                                <span class="ms-2">{{ dep }}</span>
                            </mat-card-header>
                        </mat-card>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button mat-raised-button type="button" color="primary"
                    data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
