<app-header-app></app-header-app>
<h1 class="text-center mt-4">
    Solicitud de automatización - Desarrollo e innovación
</h1>

<div class="container">
    <div class="row overflow-auto">
        <div class="col-lg-7 mt-4 col-md-7">
            <div class="row overflow-auto">
                <mat-stepper style="display: grid;place-content: center;"
                    orientation="vertical"
                    [linear]="isLinear"
                    #stepper>
                    <mat-step [stepControl]="projectNameFormGroup">
                        <form [formGroup]="projectNameFormGroup">
                            <ng-template matStepLabel>Título del
                                proyecto</ng-template>
                            <mat-form-field appearance="outline"
                                class="full-width">
                                <input matInput formControlName="project_name"
                                    placeholder="Título del proyecto" required>
                            </mat-form-field>
                            <div>
                                <button mat-button
                                    matStepperNext>Siguiente</button>
                            </div>
                        </form>
                    </mat-step>

                    <mat-step [stepControl]="departmentFormGroup">
                        <form [formGroup]="departmentFormGroup">
                            <ng-template matStepLabel>Departamento</ng-template>
                            <mat-form-field appearance="outline"
                                class="full-width">
                                <input matInput formControlName="departament"
                                    placeholder="Departamento" required>
                            </mat-form-field>
                            <div>
                                <button mat-button
                                    matStepperPrevious>Anterior</button>
                                <button mat-button
                                    matStepperNext>Siguiente</button>
                            </div>
                        </form>
                    </mat-step>

                    <mat-step [stepControl]="descriptionFormGroup">
                        <form [formGroup]="descriptionFormGroup">
                            <ng-template matStepLabel>Descripción del
                                proyecto</ng-template>
                            <mat-form-field appearance="outline"
                                class="full-width">
                                <textarea matInput formControlName="description"
                                    placeholder="Descripción del proyecto"
                                    required></textarea>
                            </mat-form-field>
                            <div>
                                <button mat-button
                                    matStepperPrevious>Anterior</button>
                                <button mat-button
                                    matStepperNext>Siguiente</button>
                            </div>
                        </form>
                    </mat-step>

                    <mat-step [stepControl]="campusFormGroup">
                        <form [formGroup]="campusFormGroup">
                            <ng-template matStepLabel>Selección del
                                Campus</ng-template>
                            <mat-form-field appearance="outline"
                                class="full-width">
                                <mat-select formControlName="campus" required>
                                    <mat-option value disabled>Selecciona un
                                        Campus</mat-option>
                                    <mat-option value="1">NORTH</mat-option>
                                    <mat-option value="2">QUITO</mat-option>
                                    <mat-option value="3">WEST</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <div>
                                <button mat-button
                                    matStepperPrevious>Anterior</button>
                                <button mat-button
                                    (click)="createNewProject()">Crear
                                    Proyecto</button>
                            </div>
                        </form>
                    </mat-step>

                    

                </mat-stepper>

            </div>

        </div>
        <div class="col-lg-5 col-md-5 d-flex" style="margin-top: -8px;">
            <div class="row overflow-auto d-flex justify-content-center mb-3">
                <div class="row g-3 info justify-content-center">
                    <div class="cards1 text-uppercase card-sm text-center">
                        <mat-list role="list">
                            <mat-list-item role="listitem">
                                <b>Título del proyecto:</b> {{
                                projectNameFormGroup.value.project_name }}
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                <b>Departamento: </b>
                                {{ departmentFormGroup.value.departament }}
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                <b>Descripción: </b>
                                {{ descriptionFormGroup.value.description
                                }}
                            </mat-list-item>
                            <!-- <mat-list-item role="listitem">
                                <b>Campus: </b>
                                {{descriptionFormGroup.value.campus}}
                            </mat-list-item> -->
                            <mat-list-item role="listitem">
                                <b>F. requerimiento: </b>
                                {{endDateFormGroup.value.end_date | date }}
                            </mat-list-item>
                        </mat-list>
                    </div>

                    <div class="cards1 cards card-sm">
                        <div class="p-2">

                            <b><i class="fa-solid fa-code"></i> Solicitud de
                                automatización</b>
                            <p>
                                Ingresar los datos requeridos jutno con una
                                descripción adecuada, una vez enviados su
                                solicitud entrará en fase
                                de planeación del proyecto para verificar
                                factibilidad del mismo.
                            </p>

                        </div>
                    </div>

                    <!-- <div class="cards1  card-sm">
                       
                    </div> -->
                </div>

            </div>
        </div>
    </div>

</div>