<app-header-app></app-header-app>

<div class="container">
    <div class="row overflow-auto">
        <div class="col-lg-7 mt-4 col-md-7">
            <div class="row overflow-auto">
                <mat-stepper style="display: grid;place-content: center;"
                    orientation="vertical"
                    [linear]="isLinear"
                    #stepper>
                    <mat-step [stepControl]="projectNameFormGroup">
                        <form [formGroup]="projectNameFormGroup">
                            <ng-template matStepLabel>Título del
                                proyecto</ng-template>
                            <mat-form-field appearance="outline"
                                class="full-width">
                                <input matInput formControlName="project_name"
                                    placeholder="Título del proyecto" required>
                            </mat-form-field>
                            <div>
                                <button mat-button
                                    matStepperNext>Siguiente</button>
                            </div>
                        </form>
                    </mat-step>

                    <mat-step [stepControl]="departmentFormGroup">
                        <form [formGroup]="departmentFormGroup">
                            <ng-template matStepLabel>Departamento</ng-template>
                            <mat-form-field appearance="outline"
                                class="full-width">
                                <input matInput formControlName="departament"
                                    placeholder="Departamento" required>
                            </mat-form-field>
                            <div>
                                <button mat-button
                                    matStepperPrevious>Anterior</button>
                                <button mat-button
                                    matStepperNext>Siguiente</button>
                            </div>
                        </form>
                    </mat-step>

                    <mat-step [stepControl]="descriptionFormGroup">
                        <form [formGroup]="descriptionFormGroup">
                            <ng-template matStepLabel>Descripción del
                                proyecto</ng-template>
                            <mat-form-field appearance="outline"
                                class="full-width">
                                <textarea matInput formControlName="description"
                                    placeholder="Descripción del proyecto"
                                    required></textarea>
                            </mat-form-field>
                            <div>
                                <button mat-button
                                    matStepperPrevious>Anterior</button>
                                <button mat-button
                                    matStepperNext>Siguiente</button>
                            </div>
                        </form>
                    </mat-step>

                    <mat-step [stepControl]="campusFormGroup">
                        <form [formGroup]="campusFormGroup">
                            <ng-template matStepLabel>Selección del
                                Campus</ng-template>
                            <mat-form-field appearance="outline"
                                class="full-width">
                                <mat-select formControlName="campus" required>
                                    <mat-option value disabled>Selecciona un
                                        Campus</mat-option>
                                    <mat-option value="1">NORTH</mat-option>
                                    <mat-option value="2">QUITO</mat-option>
                                    <mat-option value="3">WEST</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div class="stepper-buttons">
                                <button mat-button
                                    matStepperNext>Siguiente</button>
                            </div>
                        </form>
                    </mat-step>

                    <mat-step [stepControl]="endDateFormGroup">
                        <form [formGroup]="endDateFormGroup">
                            <ng-template matStepLabel>Fecha de
                                requerimiento</ng-template>
                            <!-- <input type="date" formControlName="end_date"> -->

                            <mat-form-field>
                                <mat-label>Choose a date</mat-label>
                                <input formControlName="end_date" matInput
                                    [matDatepicker]="picker">
                                <mat-hint>MM/DD/YYYY</mat-hint>
                                <mat-datepicker-toggle matIconSuffix
                                    [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                            <div>
                                <button mat-button
                                    matStepperPrevious>Anterior</button>
                                <button mat-button
                                    (click)="createNewProject()">Crear
                                    Proyecto</button>
                            </div>
                        </form>
                    </mat-step>

                </mat-stepper>

            </div>

        </div>
        <div class="col-lg-5 col-md-5 d-flex" style="margin-top: -8px;">
            <div class="row overflow-auto d-flex justify-content-center mb-3">
                <div class="row g-3 info justify-content-center">
                    <div class="card card-sm text-center">
                        <mat-list role="list">
                            <mat-list-item role="listitem">
                                <b>Título del proyecto:</b> {{
                                projectNameFormGroup.value.project_name }}
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                <b>Departamento: </b>
                                {{ departmentFormGroup.value.departament }}
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                <b>Descripción: </b>
                                {{ descriptionFormGroup.value.description
                                }}
                            </mat-list-item>
                            <!-- <mat-list-item role="listitem">
                                <b>Campus: </b>
                                {{descriptionFormGroup.value.campus}}
                            </mat-list-item> -->
                            <mat-list-item role="listitem">
                                <b>F. requerimiento: </b>
                                {{endDateFormGroup.value.end_date | date }}
                            </mat-list-item>
                        </mat-list>
                    </div>

                    <div class="card card-sm">
                        <div class="p-2">
                            <b><i class="fa-solid fa-layer-group"></i>
                                Procesos</b>
                            <p>
                                En este apartado podemos revisar todos los
                                procesos disponibles,
                                ademas de acceder a la reportería de cada uno de
                                manera rápida.
                            </p>
                            <hr>
                            <b><i class="fa-solid fa-list"></i> Listado de
                                tickets</b>
                            <p>
                                Página actual, aquí podemos observar un listado
                                de todos los casos asignados a mantenimiento y
                                logística además de mostrar información corta de
                                cada caso.
                            </p>

                        </div>
                    </div>

                    <div class="card card-sm">
                        <div class="p-2">
                            <b><i class="fa-solid fa-bug"></i> Errores del
                                sistema:</b>
                            <p>
                                En caso de percatarse de un error, mal
                                funcionamiento,
                                pérdida de información, etc. puede contactarse
                                por correo:
                                <span><a
                                        href="https://login.live.com/login.srf?wa=wsignin1.0&rpsnv=153&ct=1718814047&rver=7.0.6738.0&wp=MBI_SSL&wreply=https%3a%2f%2foutlook.live.com%2fowa%2f%3fcobrandid%3dab0455a0-8d03-46b9-b18b-df2f57b9e44c%26nlp%3d1%26RpsCsrfState%3dbf483ca7-451a-d186-b498-f788b8acb025&id=292841&aadredir=1&CBCXT=out&lw=1&fl=dob%2cflname%2cwld&cobrandid=ab0455a0-8d03-46b9-b18b-df2f57b9e44c"
                                        target="_blank">asisdesarrollo&commat;ism.edu.ec</a></span>
                            </p>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>