
body {
    font-family: 'Roboto', sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: black;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: linear-gradient(to bottom, #60269e9d, #8f22d8a4);

}

.card-header {
    background-color: rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-weight: bold;
}

.card-body {
    background-color: rgba(255, 255, 255, 0.1);
}

.list-group-item {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.2);
    transition: background-color 0.3s ease;
}

.list-group-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.icon-color {
    color: #28a745 !important;
}

.sec-icon {
    color: #f56e30 !important;
}

.btn, a {
    /* background-color: rgba(255, 255, 255, 0.2); */
    /* border-color: rgba(255, 255, 255, 0.3); */
    color: rgb(255, 255, 255);
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

@media (max-width: 767px) {
    .container {
        padding: 1rem;
    }

    .card {
        border-radius: 0;
    }
}