<link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    rel="stylesheet">
<div class="p-4">

    <div class="container">
        <div id="introduccion" class="col-12 mb-4">
            <div class="card p-3 text-white bg">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h2 class="card-title">Procesos InnovuGroup</h2>
                            <p class="card-text">
                                En este apartado, puede visualizar los procesos
                                disponibles de InnovuGroup.
                                Para acceder a ellos, simplemente haga clic en
                                el proceso deseado en el listado.
                            </p>
                            <!-- <div class="mt-4">
                                <a routerLink="/usuario" class>
                                    Agendamiento de citas
                                </a>
                            </div> -->
                        </div>
                        <div class="col-md-6 card p-4 bg-dark mt-2">
                            <div class="input-group mb-3">
                                <input type="text" placeholder="Buscar..."
                                    class="form-control">
                                <!-- <button type="button" class="btn btn-primary">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </button> -->
                            </div>
                            <ol class="list-group overflow-auto"
                                style="max-height: 300px;">
                                <div
                                    *ngFor="let repo of navRepo">
                                    <a *ngIf="isInternalLink(repo.id)"
                                        [routerLink]="getRouterLink(repo.id)"
                                        class="text-decoration-none">
                                        <li
                                            class="list-group-item d-flex justify-content-between align-items-start text-white">
                                            <div class="ms-2 me-auto">
                                                <div class="fw-bold">
                                                    <i
                                                        class="fa-regular fa-folder-open icon-color"></i>
                                                    {{ repo.nombre }}
                                                </div>
                                                <div class="subtitle">Categoría:
                                                    {{ repo.id }}</div>
                                            </div>

                                            <i
                                                class="fa-code fa-solid sec-icon"></i>

                                        </li>
                                    </a>
                                    <a *ngIf="!isInternalLink(repo.id)"
                                        [href]="getExternalLink(repo.id)"
                                        target="_blank"
                                        rel="noopener noreferrer"
                                        class="text-decoration-none">
                                        <li
                                            class="list-group-item d-flex justify-content-between align-items-start text-white">
                                            <div class="ms-2 me-auto">
                                                <div class="fw-bold">
                                                    <i
                                                        class="fa-regular fa-folder-open icon-color"></i>
                                                    {{ repo.nombre }}
                                                </div>
                                                <div class="subtitle">Categoría:
                                                    {{ repo.id }}</div>
                                            </div>

                                            <i
                                                class="fa-code fa-solid sec-icon"></i>
                                        </li>
                                    </a>
                                </div>
                            </ol>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div id="introduccion" class="col-12 mb-4">

            <div class="card p-3 text-white bg">

                <div class="card-body">

                    <!-- TALENTO HUMANO -->

                    <div class="row">

                        <div class="col-md-6 card p-4 bg-dark mt-2">

                            <ol class="list-group overflow-auto"
                                style="max-height: 300px;">

                                <a
                                    href="https://compersonline.com"
                                    target="_blank"
                                    class="text-decoration-none">
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-start text-white">
                                        <div class="ms-2 me-auto">
                                            <div class="fw-bold">
                                                <img
                                                    src="../../../assets/images/competencias.png"
                                                    width="10%"
                                                    alt="competencias_compers">
                                                Compers Competencias
                                            </div>
                                            <div class="subtitle">Click para ir
                                                a Compers competencias</div>
                                        </div>
                                        <i
                                            class="fa-solid fa-desktop text-success"></i>
                                    </li>
                                </a>
                                <a
                                    href="https://nomina.compers.online"
                                    target="_blank"
                                    class="text-decoration-none">
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-start text-white">
                                        <div class="ms-2 me-auto">
                                            <div class="fw-bold">
                                                <img
                                                    src="../../../assets/images/image.png"
                                                    width="10%"
                                                    alt="competencias_compers">
                                                Compers Nómina
                                            </div>
                                            <div class="subtitle">Click para ir
                                                a Compers nómina</div>
                                        </div>
                                        <i
                                            class="fa-solid fa-desktop text-success"></i>
                                    </li>
                                </a>
                            </ol>
                        </div>
                        <div class="col-md-6">
                            <h2 class="card-title">Procesos de talento
                                humano</h2>
                            <p class="card-text">
                                En este apartado, puede visualizar los recursos
                                disponibles del sistema Compers.
                                Para acceder a ellos, simplemente haga clic en
                                el recurso deseado en la tabla.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
