<app-validatetoken></app-validatetoken>

<div class="container-fluid bg-dark py-2">
  <div class="row align-items-center">
    <div class="col-auto bg-img">
      <div class="centrado-horizontal">
        <img src="/assets/images/logo.png" alt="ISM" width="100px">
      </div>
    </div>
    <div class="col">
      <nav class="navbar navbar-expand-lg navbar-custom">
        <div class="container-fluid">
          <!-- <a class="navbar-brand text-light">MANTENIMIENTO ISM</a> -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"
              style="font-size: 10px; color: #fff;"> Menú</span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link text-light active" aria-current="page"
                  routerLink ="#"><i class="fa-solid fa-chart-pie"></i> Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" routerLink="/maincreate"><i
                    class="fa-regular fa-square-plus"></i> Abrir ticket</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" routerLink="/guides"><i class="fa-solid fa-circle-info"></i> Ayuda</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" routerLink="/list"><i
                    class="fa-solid fa-ticket"></i> Tickets</a>
              </li>
              <li class="nav-item dropdown ">
                <a class="nav-link text-light dropdown-toggle" routerLink="#"
                  id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false"> <i class="fa-regular fa-user"></i> {{ name }} {{ last_name}} 
                </a>
                <ul class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
                  <!-- <li><a class="dropdown-item"> User: {{
                    avatar }}</a></li> -->
                  <li><a class="dropdown-item"
                      (click)="logout()">Salir</a></li>
                </ul>
              </li>
            </ul>
          </div>

        </div>
      </nav>
    </div>
  </div>
</div>
