:root {
    --primario: #f9f9f9;
    --secundario: #f2f2f2;
    --negro: black;
}

.label-color {
    color: #ffc107;
}

.navbar-nav-small {
    display: none;
}

@media (max-width: 767px) {
    .navbar-nav-small {
        display: flex;
        align-items: center;
        margin-top: 10px;
    }
}

nav {
    margin: 0 0 2rem 0;
}

.nav-item {
    font-size: 1.2rem;
    font-weight: bold;
}

.card {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    background-color: #fff;
}

.mycard {
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
}

.administrar {
    text-align: center;
}

.administrar svg {
    /* margin-right: 10px; */
    fill: none;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.administrar b {
    color: black;
    font-weight: bold;
    font-size: 18px;
}

.chart-container {
    width: 100%;
    overflow-x: auto;
}

/* tickets */

.tickets {
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--negro);
    list-style-type: none;
}

h1 {
    text-align: center;
    /* margin-bottom: 1.5rem; */
    font-weight: bold;
    font-size: 2rem;
}

.nav-links {
    font-size: 1.5rem;
    font-weight: bold;
}

a.navbar-brand {
    color: black;
}

a.nav-link {
    font-size: 1.2rem;
    margin-right: 5rem;
    cursor: pointer;
}

a.nav-link:hover {
    background-color: #ffc107;
    border-radius: 5px;
    transition: all 0.3s ease;
    padding: 1rem;
}

.cont {
    /* margin-top: -1.5rem; */
    padding: 0 2rem 0 2rem;
}

.band-link {
    background-color: #ffc107;
    border-radius: 5px;
    transition: all 0.3s ease;
    padding: 1rem;
    animation: vibrar 0.5s;
    cursor: default;
}

@keyframes vibrar {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-2px) rotate(-1deg);
    }

    40% {
        transform: translateX(2px) rotate(1deg);
    }

    60% {
        transform: translateX(-2px) rotate(-1deg);
    }

    80% {
        transform: translateX(2px) rotate(1deg);
    }

    100% {
        transform: translateX(0);
    }
}


a {
    text-decoration: none;
}

.procesos {
    font-size: 1rem;
    color: black;
    border: none;
    /* font-weight: bold; */
    margin-top: 10px;
    border: 1px solid #ccc;
}

/* Estilo para el contenedor con desplazamiento */
.overflow-auto {
    /* Estilo WebKit (Chrome, Safari) */
    scrollbar-width: thin;
    /* Ancho del scrollbar en Firefox */
    scrollbar-color: rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.1);
    /* Color del thumb y track en Firefox */

    /* Estilo para navegadores no-WebKit */
    /* Para Microsoft Edge */
    -ms-overflow-style: -ms-autohiding-scrollbar;
    /* Oculta el scrollbar cuando no se está utilizando en Edge */
}

/* Estilo para el thumb del scrollbar en Firefox */
.overflow-auto::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    /* Color del thumb en WebKit */
}

/* Estilo para el thumb del scrollbar al pasar el ratón en Firefox */
.overflow-auto::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
    /* Color del thumb al pasar el ratón en WebKit */
}

/* Estilo para el track del scrollbar en Firefox */
.overflow-auto::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
    /* Color del track en WebKit */
}

.ticket-caso {
    text-transform: lowercase;  
    font-weight: normal;
    margin-top: 5px;
}

.list-group{
    text-align: left;
}

.rounded-pill{
    background-color: #ffc107;
    color: black;
}

.card-title{
    font-size:1.3rem ;
    font-weight: normal;
}

.card-text{
    font-weight: normal;
}

.menu{
    font-size: 0.8rem;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #ffc107;
    color: #ffc107;
}

.procesos__menu {
    margin-top: 10px;
    
}
.procesos__menu--option{
    color: #828282;

}

.procesos__menu:not(:last-child) {
    border-bottom: 1px solid #ccc; 
    padding-bottom: 2px; 
    margin-bottom: 2px; 
}
/* .stats{
    height: 700px;
} */

.card-sep{
    margin-top: 1rem;
}

.card-sep__footer{
    margin-top: 10px;
}

.custom-number {
    margin-left: -10px; 
    margin-right: -10px; 
    font-size: 2rem;
}

.card-nav{
    /* border: 1px solid #ccc; */
    padding: 10px;
    border-radius: 5px;
}

.user{
    border: 1px solid #ffc107;
    padding: 1rem;
    border-radius: 5px;
    font-size: 1.2rem;
    color: #ffc107;
}

.exit{
    border: 1px solid white;
    padding: 1rem;
    border-radius: 5px;
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
}

.exit:hover{
    transform: scale(1.1);
    animation: 0.3s;
}