<app-header-app></app-header-app>

<div class="container">

    <div class="row p-4 container-fluid">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <h2 class="text-center" style="font-weight: normal;">
                Asignación de tareas
            </h2>
        </div>
        <div class="col-md-4 text-center text-uppercase">
            <h2 class="text-center"
                style="font-weight: normal;font-size: .9rem;">
                <a data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop"
                    aria-controls="offcanvasTop" style="cursor: pointer;">
                    <i class="fa-solid fa-gear me-2"></i>
                    {{projectDetail?.project_name }}
                </a>
            </h2>

        </div>
    </div>

    <div class=" container" style="margin-top: -20px;">
        <h5 *ngIf="email == 'desarrollo@ism.edu.ec'">Cambiar estado de
            proyecto:</h5>
        <h5 *ngIf="email != 'desarrollo@ism.edu.ec'">Estado de proyecto:</h5>
        <div class="col-md-12" *ngIf="email == 'desarrollo@ism.edu.ec'">
            <div class="btn-group btn-group-toggle custom-toggle-group"
                data-toggle="buttons">
                <label class="btn  custom-toggle rounded-start"
                    [class.active]="projectDetail?.state === 'INICIANDO'"
                    (click)="updateStatus(projectDetail.id, 'INICIANDO')">
                    Iniciando
                </label>
                <label class="btn  custom-toggle"
                    [class.active]="projectDetail?.state === 'PLANIFICACION'"
                    (click)="updateStatus(projectDetail.id, 'PLANIFICACION')">
                    Planificación
                </label>
                <label class="btn  custom-toggle"
                    [class.active]="projectDetail?.state === 'DESARROLLO'"
                    (click)="updateStatus(projectDetail.id, 'DESARROLLO')">
                    Desarrollo
                </label>
                <label class="btn  custom-toggle"
                    [class.active]="projectDetail?.state === 'PRUEBAS'"
                    (click)="updateStatus(projectDetail.id, 'PRUEBAS')">
                    Pruebas
                </label>
                <label class="btn  custom-toggle"
                    [class.active]="projectDetail?.state === 'IMPLEMENTACION'"
                    (click)="updateStatus(projectDetail.id, 'IMPLEMENTACION')">
                    Implementación
                </label>
                <label class="btn custom-toggle rounded-end"
                    [class.active]="projectDetail?.state === 'FINALIZADO'"
                    (click)="updateStatus(projectDetail.id, 'FINALIZADO')">
                    Finalizado
                </label>

            </div>

        </div>
        <div class="row d-flex justify-content-center">
            <ng-container *ngIf="isUpdating">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </ng-container>
        </div>
        <div class="col-md-12" *ngIf="email != 'desarrollo@ism.edu.ec'">
            <div class="btn-group-toggle custom-toggle-group"
                data-toggle="buttons">
                <label class="btn btn-outline-primary custom-toggle"
                    [class.active]="projectDetail?.state === 'INICIANDO'">
                    Iniciando
                </label>
                <label class="btn btn-outline-primary custom-toggle"
                    [class.active]="projectDetail?.state === 'PLANIFICACION'">
                    Planificación
                </label>
                <label class="btn btn-outline-primary custom-toggle"
                    [class.active]="projectDetail?.state === 'DESARROLLO'">
                    Desarrollo
                </label>
                <label class="btn btn-outline-primary custom-toggle"
                    [class.active]="projectDetail?.state === 'PRUEBAS'">
                    Pruebas
                </label>
                <label class="btn btn-outline-primary custom-toggle"
                    [class.active]="projectDetail?.state === 'IMPLEMENTACION'">
                    Implementación
                </label>
                <label class="btn btn-outline-primary custom-toggle"
                    [class.active]="projectDetail?.state === 'FINALIZADO'">
                    Finalizado
                </label>
            </div>

        </div>
    </div>

    <div class="p-4">
        <div class="row" style="margin-top: -20px;">
            <div class="col-md-12">
                <!-- formulario para asingar tarear BACK y front -->
                <div class="row mt-4">
                    <mat-accordion *ngIf="email == 'desarrollo@ism.edu.ec'">
                        <mat-expansion-panel>
                            <mat-expansion-panel-header
                                style="background-color: #f3f1f1cc;">
                                <mat-panel-title> <i
                                        class="fa-solid fa-circle-plus text-primary"></i>
                                </mat-panel-title>
                                <mat-panel-description class="task">Agregar una
                                    tarea </mat-panel-description>
                            </mat-expansion-panel-header>
                            <form [formGroup]="taskForm" class="mt-4"
                                (ngSubmit)="createTask(projectDetail.id)">
                                <div class="row d-flex justify-content-evenly">
                                    <div
                                        class="col-md-6 d-flex justify-content-center">
                                        <div class="mb-3">
                                            <mat-radio-group
                                                formControlName="developer_id"
                                                aria-label="Select an option"
                                                class="small-text">
                                                <mat-radio-button
                                                    [value]="4">Frontend</mat-radio-button>
                                                <mat-radio-button
                                                    [value]="8">Backend</mat-radio-button>
                                                <mat-radio-button
                                                    [value]="1">Jefe de
                                                    desarrollo</mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4 mb-3">
                                                <label for="project_phases"
                                                    class="form-label">
                                                    Fase:</label>
                                                <select class="form-select"
                                                    formControlName="project_phases"
                                                    name="project_phases">
                                                    <option
                                                        value="ANALISIS">Análisis</option>
                                                    <option
                                                        value="DISENO">Diseño</option>
                                                    <option
                                                        value="DESARROLLO">Desarrollo</option>
                                                    <option
                                                        value="PRUEBAS">Pruebas</option>
                                                    <option
                                                        value="Despliegue">Despliegue</option>
                                                </select>

                                            </div>
                                            <div class="col-md-4"></div>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">

                                    <div
                                        class="col-md-3 d-flex justify-content-center">
                                        <div class="form-group mb-3">
                                            <label
                                                class="form-label">Tarea:</label>
                                            <input
                                                formControlName="name_task"
                                                type="text"
                                                class="form-control">
                                        </div>
                                    </div>
                                    <div
                                        class="col-md-3 d-flex justify-content-center">
                                        <div class="form-group mb-3">
                                            <label class="form-label">Fecha de
                                                asignación:</label>
                                            <input
                                                formControlName="assignament_date"
                                                type="date"
                                                class="form-control">
                                        </div>
                                    </div>
                                    <div
                                        class="col-md-3 d-flex justify-content-center">
                                        <div class="form-group mb-3">
                                            <label class="form-label">Fecha de
                                                finalización:</label>
                                            <input
                                                formControlName="end_date"
                                                type="date"
                                                class="form-control">
                                        </div>
                                    </div>
                                    <div
                                        class="col-md-3 d-flex justify-content-center">
                                        <div class="form-group mb-3">
                                            <label
                                                class="form-label">Responsable:</label>
                                            <select
                                                class="form-select"
                                                formControlName="responsible_counterpart"
                                                name="project_phases">
                                                <option
                                                    value="Breidy Coox">Breidy
                                                    Coox</option>
                                                <option
                                                    value="Hugo Espinoza">Hugo
                                                    Espinoza</option>
                                                <option
                                                    value="Arturo Sarango">Arturo
                                                    Sarango</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">

                                    <div
                                        class="col-md-6 d-flex justify-content-center">
                                        <div class="form-group mb-3">
                                            <label
                                                class="form-label">Observaciones:</label>
                                            <textarea
                                                formControlName="observation"
                                                type="text"
                                                class="form-control">
                                                </textarea>
                                        </div>
                                    </div>

                                    <div
                                        class="col-md-6 d-flex justify-content-center">
                                        <div class="form-group mb-3">
                                            <label
                                                class="form-label">Detalle:</label>
                                            <textarea
                                                formControlName="description_task"
                                                type="text"
                                                class="form-control">
                                                </textarea>
                                        </div>
                                    </div>

                                </div>
                                <button class="btn btn-primary text-center"
                                    [disabled]="!taskForm.valid">Crear
                                    tarea</button>
                            </form>
                        </mat-expansion-panel>
                    </mat-accordion>

                    <!-- formulario para asingar tarear BACK y front -->

                    <!-- muestra las tareas de BACK y front ademas de actualizar estado -->

                    <div class="project-list mt-4  mb-3 overflow-auto container"
                        style="height: 500px;">
                        <mat-accordion>
                            <mat-expansion-panel *ngFor="let task of allTasks"
                                (opened)="panelOpened(task.id)"
                                [hidden]="
                                (email === 'asisdesarrollo3@ism.edu.ec' && task.developer_id == 4) ||
                                (email === 'asisdesarrollo@ism.edu.ec' && task.developer_id != 4)">
                                <mat-expansion-panel-header
                                    style="background-color: #f3f1f1cc;">
                                    <mat-panel-title class="task"
                                        *ngIf="task.developer_id == 4">
                                        <i class="fa-solid fa-cubes me-2"></i>
                                        Frontend
                                    </mat-panel-title>
                                    <mat-panel-title class="task"
                                        *ngIf="task.developer_id == 8">
                                        <i
                                            class="fa-solid fa-code me-2"></i>Backend
                                    </mat-panel-title>
                                    <mat-panel-title class="task"
                                        *ngIf="task.developer_id == 1">
                                        <i
                                            class="fa-solid fa-user-secret me-2"></i>Jefatura
                                    </mat-panel-title>
                                    <mat-panel-description class="task">
                                        {{
                                        task.name_task
                                        }}
                                    </mat-panel-description>
                                    <mat-panel-description class="task_date">
                                        Asignado: {{ task.assignament_date |
                                        date }}
                                    </mat-panel-description>
                                    <mat-panel-description class="task_date">
                                        Finaliza: {{ task.end_date | date }}
                                    </mat-panel-description>
                                    <mat-panel-description class="task">
                                        <span
                                            [ngClass]="['state-badge', getStateClass(task.state)]">
                                            {{ task.state }}
                                        </span>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <div class="row mt-4">
                                    <div class="col-md-12"
                                        *ngIf="email == 'asisdesarrollo@ism.edu.ec' || email == 'asisdesarrollo3@ism.edu.ec'">
                                        <div class="row">
                                            <div class="row mb-3">
                                                <p><b>Tarea:</b> {{
                                                    task.name_task
                                                    }}</p>
                                            </div>
                                            <div class="row mb-3">
                                                <p><b>Observaciones: </b>{{
                                                    task.observation }}</p>

                                            </div>
                                            <div class="row mb-3">
                                                <p><b>Descripción: </b>{{
                                                    task.description_task }}</p>

                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-md-12"
                                        [hidden]="email == 'desarrollo@ism.edu.ec' || email == 'asisdesarrollo@ism.edu.ec' || email == 'asisdesarrollo3@ism.edu.ec'">
                                        <div class="row">

                                            <div class="row mb-3">
                                                <p><b>Tarea:</b> {{
                                                    task.name_task
                                                    }}</p>
                                            </div>
                                            <div class="row mb-3">

                                                <p><b>Estado: </b>{{
                                                    task.state}}</p>

                                            </div>

                                            <div class="row">
                                                <div class="mb-3 text-truncate">
                                                    <p><b>Observaciones: </b>{{
                                                        task.observation }}</p>

                                                </div>
                                            </div>
                                            <div class="row">
                                                <div
                                                    matTooltip="{{task.description_task}}"
                                                    class="mb-3">

                                                    <p><b>Descripción: </b>{{
                                                        task.description_task
                                                        }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div
                                                *ngIf="email == 'desarrollo@ism.edu.ec'"
                                                class="d-flex justify-content-end">
                                                <i (click)="deleteTask()"
                                                    style="cursor: pointer;"
                                                    matTooltip="Eliminar tarea"
                                                    class="fa-solid fa-circle-minus text-danger"></i>
                                            </div>
                                        </div>

                                        <form [formGroup]="updateForms[task.id]"
                                            (ngSubmit)="updateTask(task.id)"
                                            *ngIf="updateForms[task.id]">
                                            <div class="row">
                                                <div class="col-md-12 ">
                                                    <div
                                                        *ngIf="email == 'desarrollo@ism.edu.ec'"
                                                        class="form-group mb-3 d-flex justify-content-center">
                                                        <label
                                                            class="form-label"
                                                            for="assignament_date">Responsable:</label>
                                                        <mat-radio-group
                                                            formControlName="developer_id"
                                                            aria-label="Select an option">
                                                            <mat-radio-button
                                                                [value]="4">Frontend</mat-radio-button>
                                                            <mat-radio-button
                                                                [value]="8">Backend</mat-radio-button>
                                                            <mat-radio-button
                                                                [value]="1">Jefe
                                                                de
                                                                desarrollo</mat-radio-button>
                                                        </mat-radio-group>

                                                    </div>
                                                    <hr>

                                                    <div class="row">
                                                        <div
                                                            class="col-md-4 d-flex justify-content-center"
                                                            *ngIf="email == 'desarrollo@ism.edu.ec'">
                                                            <div
                                                                class="form-group mb-3">
                                                                <label
                                                                    class="form-label"
                                                                    for="name_task">Tarea:</label>
                                                                <input
                                                                    type="text"
                                                                    formControlName="name_task"
                                                                    class="form-control">
                                                            </div>
                                                        </div>
                                                        <div
                                                            class="col-md-4 d-flex justify-content-center"
                                                            *ngIf="email == 'desarrollo@ism.edu.ec'">
                                                            <div
                                                                class="form-group mb-3">
                                                                <label
                                                                    class="form-label"
                                                                    for="assignament_date">Fecha
                                                                    Asignada:</label>
                                                                <input
                                                                    type="date"
                                                                    formControlName="assignament_date"
                                                                    class="form-control">
                                                            </div>
                                                        </div>
                                                        <div
                                                            class="col-md-4 d-flex justify-content-center"
                                                            *ngIf="email == 'desarrollo@ism.edu.ec'">
                                                            <div
                                                                class="form-group mb-3">
                                                                <label
                                                                    class="form-label"
                                                                    for="end_date">Fecha
                                                                    de
                                                                    Fin:</label>
                                                                <input
                                                                    type="date"
                                                                    formControlName="end_date"
                                                                    class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div
                                                            class="col-md-4 d-flex justify-content-center"
                                                            *ngIf="email == 'desarrollo@ism.edu.ec'">
                                                            <div
                                                                class="form-group mb-3">
                                                                <label
                                                                    class="form-label">Responsable:</label>
                                                                <select
                                                                    class="form-select"
                                                                    formControlName="responsible_counterpart"
                                                                    name="project_phases">
                                                                    <option
                                                                        value="Breidy Coox">Breidy
                                                                        Coox</option>
                                                                    <option
                                                                        value="Hugo Espinoza">Hugo
                                                                        Espinoza</option>
                                                                    <option
                                                                        value="Arturo Sarango">Arturo
                                                                        Sarango</option>
                                                                </select>
                                                            </div>

                                                        </div>
                                                        <div
                                                            *ngIf="email == 'desarrollo@ism.edu.ec' || email == 'asisdesarrollo@ism.edu.ec' || email == 'asisdesarrollo3@ism.edu.ec'"
                                                            class="col-md-4 d-flex justify-content-center">
                                                            <div
                                                                class="form-group mb-3">
                                                                <label
                                                                    class="form-label"
                                                                    for="state">Estado:</label>
                                                                <select
                                                                    formControlName="state"
                                                                    class="form-control">
                                                                    <option
                                                                        *ngFor="let state of taskStates"
                                                                        [value]="state">{{state}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div
                                                            class="col-md-4 d-flex justify-content-center">

                                                            <div
                                                                class="form-group mb-3"
                                                                *ngIf="email == 'desarrollo@ism.edu.ec' || email == 'asisdesarrollo@ism.edu.ec' || email == 'asisdesarrollo3@ism.edu.ec'">
                                                                <label
                                                                    for="nack"
                                                                    class="form-label">Fase
                                                                    ({{
                                                                    task.project_phases
                                                                    }}):</label>
                                                                <div
                                                                    class="col-md-6">
                                                                    <select
                                                                        class="form-select"
                                                                        formControlName="project_phases"
                                                                        name="project_phases">
                                                                        <option
                                                                            value="ANALISIS">Análisis</option>
                                                                        <option
                                                                            value="DISENO">Diseño</option>
                                                                        <option
                                                                            value="DESARROLLO">Desarrollo</option>
                                                                        <option
                                                                            value="PRUEBAS">Pruebas</option>
                                                                        <option
                                                                            value="Despliegue">Despliegue</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                            <div class="row container">
                                                <div
                                                    class="col-md-6 d-flex justify-content-center">
                                                    <div
                                                        class="form-group mb-3"
                                                        *ngIf="email == 'desarrollo@ism.edu.ec'">
                                                        <label
                                                            class="form-label"
                                                            for="observation">Detalle:</label>
                                                        <textarea
                                                            formControlName="observation"
                                                            class="form-control"></textarea>
                                                    </div>
                                                </div>
                                                <div
                                                    class="col-md-6 d-flex justify-content-center">
                                                    <div
                                                        class="form-group mb-3"
                                                        *ngIf="email == 'desarrollo@ism.edu.ec'">
                                                        <label
                                                            class="form-label"
                                                            for="description_task">Observaciones:</label>
                                                        <textarea
                                                            formControlName="description_task"
                                                            class="form-control"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row"
                                                *ngIf="email == 'desarrollo@ism.edu.ec' || email == 'asisdesarrollo@ism.edu.ec' || email == 'asisdesarrollo3@ism.edu.ec'">
                                                <div
                                                    class="d-flex justify-content-center">
                                                    <button
                                                        style="font-size: .8rem;"
                                                        type="submit"
                                                        class="btn btn-primary"
                                                        [disabled]="updateForms[task.id].invalid">
                                                        Actualizar tarea
                                                    </button>
                                                </div>
                                            </div>
                                        </form>

                                        <!-- EMPIEZAN LINKS -->
                                        <div class="row">
                                            <a class="text-secondary mb-3"
                                                data-bs-toggle="collapse"
                                                href="#collapseExample"
                                                role="button"
                                                aria-expanded="false"
                                                aria-controls="collapseExample">
                                                Agregar/ Ver Links
                                            </a>

                                            <div class="collapse"
                                                id="collapseExample">
                                                <div class="card card-body">
                                                    <div class="row">
                                                        <!-- SE AGREGA LINKS A LA TAREA -->
                                                        <div class="col-md-6">

                                                            <form
                                                                (ngSubmit)="agregarLink()">
                                                                <div
                                                                    class="form-group mb-3">
                                                                    <label
                                                                        for="type_link"
                                                                        class="form-label">Tipo
                                                                        de
                                                                        link:</label>

                                                                    <select
                                                                        class="form-select"
                                                                        [(ngModel)]="link.type_link"
                                                                        name="type_link">
                                                                        <option
                                                                            value="Requerimiento">Requerimiento</option>
                                                                        <option
                                                                            value="Planificación">Planificación</option>
                                                                        <option
                                                                            value="Reunión">Reunión</option>
                                                                        <option
                                                                            value="Retroalimentación">Retroalimentación</option>
                                                                        <option
                                                                            value="Entrega">Entrega</option>
                                                                    </select>
                                                                </div>

                                                                <div
                                                                    class="form-group mb-3">
                                                                    <label
                                                                        for="type_link"
                                                                        class="form-label update">Nombre
                                                                        del
                                                                        link:</label>
                                                                    <input
                                                                        type="text"
                                                                        [(ngModel)]="link.name_link"
                                                                        name="name_link"
                                                                        class="form-control update">
                                                                </div>

                                                                <div
                                                                    class="form-group mb-3">
                                                                    <label
                                                                        for="type_link"
                                                                        class="form-label">Agregue
                                                                        URL:</label>
                                                                    <input
                                                                        type="text"
                                                                        [(ngModel)]="link.link"
                                                                        name="link"
                                                                        class="form-control update">
                                                                </div>
                                                                <button
                                                                    type="submit"
                                                                    class="btn btn-primary">Agregar
                                                                </button>
                                                            </form>
                                                            <!-- SE AGREGA LINKS A LA TAREA -->
                                                        </div>
                                                        <!-- LISTADO DE LINKS -->
                                                        <div class="col-md-6">
                                                            <ol
                                                                class="list-group"
                                                                *ngFor="let links of linksList">
                                                                <li
                                                                    class="d-flex mb-3
                                                                    enlace justify-content-between 
                                                                    align-items-start">
                                                                    <div
                                                                        class="ms-2 me-auto">
                                                                        <div
                                                                            class="fw-bold">{{
                                                                            links.type_link
                                                                            }}
                                                                            <i
                                                                                data-bs-toggle="modal"
                                                                                data-bs-target="#linkModal"
                                                                                (click)="catchLinkId(links.id)"
                                                                                class="fa-solid fa-link update_link"></i></div>
                                                                        <a
                                                                            class="enlace"
                                                                            href="{{ links.link }}"
                                                                            target="_blank">{{
                                                                            links.name_link
                                                                            }}
                                                                        </a>
                                                                    </div>
                                                                </li>
                                                            </ol>

                                                        </div>
                                                        <!-- LISTADO DE LINKS -->
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- TERMINAN LINKS -->
                                        </div>
                                    </div>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                    <!-- muestra las tareas de BACK y front ademas de actualizar estado -->

                </div>
            </div>
        </div>

    </div>

    <!-- offcanvas-menu.component.html -->
    <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop"
        aria-labelledby="offcanvasTopLabel"
        style="border-radius: 10px; height: 350px;">
        <div
            class="offcanvas-header d-flex justify-content-between align-items-center">
            <h3 class="offcanvas-title text-uppercase" id="offcanvasTopLabel">
                {{ projectDetail?.project_name }}
                <ng-container *ngIf="!isUpdating; else updatingSpinner">
                    <span class="badge bg-primary ml-2">{{ projectDetail?.state
                        }}</span>
                </ng-container>
            </h3>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
        </div>

        <div class="offcanvas-body p-3">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Detalles del Proyecto</h5>
                            <p class="card-text">{{ projectDetail?.description
                                }}</p>
                            <ul class="list-group list-group-flush">
                                <li
                                    class="list-group-item d-flex justify-content-between">
                                    <span><strong>Departamento:</strong> {{
                                        projectDetail?.department }}</span>
                                    <span><strong>F. requerida:</strong> {{
                                        projectDetail?.end_date }}</span>
                                </li>
                                <li
                                    class="list-group-item d-flex justify-content-between">
                                    <span><strong>ID:</strong> {{
                                        projectDetail?.id }}</span>
                                    <span><strong>CaseID:</strong> {{
                                        projectDetail?.case_id }}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Acciones</h5>
                            <div class="d-grid gap-2">
                                <button mat-raised-button color="primary"
                                    (click)="projectSignatures(projectDetail.id)">
                                    Ver firmas
                                </button>
                                <button *ngIf="email == 'desarrollo@ism.edu.ec'"
                                    mat-raised-button color="warn"
                                    (click)="deleteProject()">
                                    Eliminar este proyecto
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ng-template #updatingSpinner>
        <mat-spinner diameter="20"></mat-spinner>
    </ng-template>
</div>

<!-- update link Modal -->
<div class="modal fade" id="linkModal" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Actualizar
                    link</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">

                    <form (ngSubmit)="updateLink()">
                        <div class="form-group">
                            <div class="mb-3">
                                <label for="type_link" class="form-label">Tipo
                                    de link:</label>
                                <select class="form-select"
                                    [(ngModel)]="update_link.type_link"
                                    name="type_link">
                                    <option
                                        value="Requerimiento">Requerimiento</option>
                                    <option
                                        value="Planificación">Planificación</option>
                                    <option
                                        value="Reunión">Reunión</option>
                                    <option
                                        value="Retroalimentación">Retroalimentación</option>
                                    <option
                                        value="Entrega">Entrega</option>
                                </select>

                            </div>
                            <div class="mb-3">
                                <label for="name_link" class="form-label">Nombre
                                    del enlace:</label>
                                <input type="text" class="form-control update"
                                    name="name_link_update"
                                    [(ngModel)]="update_link.name_link">
                            </div>
                            <div class="mb-3" *ngIf="linksList">
                                <label for="link"
                                    class="form-label">URL:</label>
                                <input type="text" class="form-control update"
                                    name="link_update"
                                    [(ngModel)]="update_link.link">
                            </div>
                            <div class="row">
                                <div class>
                                    <button type="submit"
                                        class="btn btn-primary"
                                        [disabled]="!linkId">Actualizar</button>
                                    <a class="btn btn-warning"
                                        (click)="deleteLink()">Eliminar</a>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
