<app-header-app></app-header-app>
<h1 class="text-center mt-4">Asignación de tareas</h1>

<div class="p-4">

    <div class="row" style="margin-top: -20px;">
        <div class="col-md-4">
            <div class="card project-card">
                <div class="card-header text-center bg-primary text-white">
                    <h3 class="mb-0">{{ projectDetail?.project_name }}</h3>
                </div>
                <div class="card-body text-center">
                    <div class="row mb-3">
                        <div class="col-md-5 fw-bold">Descripción:</div>
                        <div class="card col-md-7">{{ projectDetail?.description
                            }} </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-5 fw-bold">Departamento:</div>
                        <div class="col-md-7">{{ projectDetail?.department
                            }}</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-5 fw-bold">F. requerida:</div>
                        <div class="col-md-7">{{ projectDetail?.end_date
                            }}</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-5 fw-bold">Estado:</div>
                        <div class="col-md-7">
                            <ng-container
                                *ngIf="!isUpdating; else updatingSpinner">
                                <span class="badge bg-primary">{{
                                    projectDetail?.state }}</span>
                            </ng-container>
                            <ng-template #updatingSpinner>
                                <mat-spinner diameter="20"></mat-spinner>
                            </ng-template>
                        </div>
                    </div>

                </div>
                <div class="card-footer bg-light">
                    <div class="row">
                        <div class="col-md-6 mb-2 mb-md-0">
                            <small class="text-muted">ID: {{ projectDetail?.id
                                }}</small>
                        </div>
                        <div class="col-md-6 text-md-end">
                            <small class="text-muted">CaseID: {{
                                projectDetail?.case_id }}</small>
                        </div>
                    </div>
                </div>
                <div class="col">

                    <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title> Estados
                                </mat-panel-title>
                                <mat-panel-description>Actualizar estado
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <button mat-menu-item class="center-text"
                                (click)="updateStatus(projectDetail.id, 'INICIANDO')">Iniciando</button>
                            <button mat-menu-item class="center-text"
                                (click)="updateStatus(projectDetail.id, 'PLANIFICACION')">Planificación</button>
                            <button mat-menu-item class="center-text"
                                (click)="updateStatus(projectDetail.id, 'DESARROLLO')">Desarrollo</button>
                            <button mat-menu-item class="center-text"
                                (click)="updateStatus(projectDetail.id, 'PRUEBAS')">Pruebas</button>
                            <button mat-menu-item class="center-text"
                                (click)="updateStatus(projectDetail.id, 'IMPLEMENTACION')">Implementación</button>
                            <button mat-menu-item class="center-text"
                                (click)="updateStatus(projectDetail.id, 'MANTENIMIENTO')">Mantenimiento</button>
                        </mat-expansion-panel>
                    </mat-accordion>

                </div>
            </div>
        </div>
        <div class="col-md-8">
            <!-- formulario para asingar tarear BACK -->
            <div class="row mt-4">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title> <i
                                    class="fa-solid fa-circle-plus"></i>
                            </mat-panel-title>
                            <mat-panel-description>Agregar una
                                tarea </mat-panel-description>
                        </mat-expansion-panel-header>
                        <form [formGroup]="taskForm"
                            (ngSubmit)="createTask(projectDetail.id)">
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-radio-group
                                        formControlName="developer_id"
                                        aria-label="Select an option">
                                        <mat-radio-button
                                            [value]="4">Frontend</mat-radio-button>
                                        <mat-radio-button
                                            [value]="8">Backend</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group mb-3">
                                        <label class="form-label">Fecha de
                                            asignación:</label>
                                        <input
                                            formControlName="assignament_date"
                                            type="date"
                                            class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group mb-3">
                                        <label class="form-label">Fecha de
                                            finalización:</label>
                                        <input
                                            formControlName="end_date"
                                            type="date"
                                            class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <label class="form-label">Tarea:</label>
                                        <input
                                            formControlName="name_task"
                                            type="text"
                                            class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <label
                                            class="form-label">Detalle:</label>
                                        <input
                                            formControlName="description_task"
                                            type="text"
                                            class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <label
                                            class="form-label">Observaciones:</label>
                                        <input
                                            formControlName="observation"
                                            type="text"
                                            class="form-control">
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary text-center"
                                [disabled]="!taskForm.valid">Crear
                                tarea</button>
                        </form>
                    </mat-expansion-panel>
                </mat-accordion>
                <div class="project-list mt-4">
                    <mat-accordion>
                        <mat-expansion-panel *ngFor="let task of allTasks"
                            (opened)="panelOpened(task.id)">
                            <mat-expansion-panel-header>
                                <mat-panel-title *ngIf="task.developer_id == 4">
                                    Frontend
                                </mat-panel-title>
                                <mat-panel-title *ngIf="task.developer_id != 4">
                                    Backend
                                </mat-panel-title>
                                <mat-panel-description>
                                    {{ task.state }}
                                </mat-panel-description>
                                <mat-panel-description>
                                    Asignado: {{ task.assignament_date | date }}
                                </mat-panel-description>
                                <mat-panel-description>
                                    Finaliza: {{ task.end_date | date }}
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <div class="row">
                                <div class="col-md-12">
                                    <form [formGroup]="updateForms[task.id]"
                                        (ngSubmit)="updateTask(task.id)"
                                        *ngIf="updateForms[task.id]">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group mb-3">
                                                    <label
                                                        for="name_task">Tarea:</label>
                                                    <input type="text"
                                                        formControlName="name_task"
                                                        class="form-control">
                                                </div>
                                                <div class="form-group mb-3">
                                                    <label
                                                        for="description_task">Descripción:</label>
                                                    <textarea
                                                        formControlName="description_task"
                                                        class="form-control"></textarea>
                                                </div>
                                                <div class="form-group mb-3">
                                                    <label
                                                        for="assignament_date">Fecha
                                                        Asignada:</label>
                                                    <input type="date"
                                                        formControlName="assignament_date"
                                                        class="form-control">
                                                </div>
                                                <div class="form-group mb-3">
                                                    <label for="end_date">Fecha
                                                        de Fin:</label>
                                                    <input type="date"
                                                        formControlName="end_date"
                                                        class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group mb-3">
                                                    <label
                                                        for="observation">Detalle:</label>
                                                    <textarea
                                                        formControlName="observation"
                                                        class="form-control"></textarea>
                                                </div>
                                                <div class="form-group mb-3">
                                                    <label
                                                        for="state">Estado:</label>
                                                    <select
                                                        formControlName="state"
                                                        class="form-control">
                                                        <option
                                                            *ngFor="let state of taskStates"
                                                            [value]="state">{{state}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit"
                                            class="btn btn-primary"
                                            [disabled]="updateForms[task.id].invalid">Actualizar
                                            tarea</button>
                                    </form>
                                </div>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
        </div>
    </div>

</div>