<div class="container">
    <mat-accordion>
        <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
                <mat-panel-title></mat-panel-title>
                <mat-panel-description> NUESTRAS POLÍTICAS
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="content-wrapper">
                <h1>
                    <span>Conoce Nuestras</span>
                    POLÍTICAS Y NORMATIVAS
                </h1>
                <div class="content">
                    <div class="logo">
                        <img
                            src="../../../assets/images/Recurso 1(1).png"
                            alt="ICONTEC IQNET Certification">
                    </div>
                    <div class="info">

                        <p>En nuestra organización, nos adherimos a estrictas
                            políticas y normativas que garantizan la
                            transparencia y el cumplimiento de los más altos
                            estándares éticos y legales. Nos aseguramos de
                            implementar las regulaciones vigentes para ofrecer
                            un entorno seguro, inclusivo y responsable,
                            fomentando la confianza de nuestros colaboradores y
                            clientes en cada uno de nuestros procesos.</p>

                        <a class="download-btn" (click)="downloadPortada()"><i
                                class="fa-solid fa-circle-down"></i> Portada de
                            políticas</a>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>

    </mat-accordion>

</div>
