<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="assets/images/logo.png" alt width="100"
                class="d-inline-block align-text-top">
        </a>

        <a class="nav-link nav-links button-navbar text-light text-center">Calificación del
            usuario</a>
    </div>
</nav>

<div class="container mt-3">

    <!-- Título y Descripción -->
    <h1 class="text-center bg-dark1 bg-dark">{{
        maintenanceUrl?.maintenance.description_incident }} en {{
        maintenanceUrl?.maintenance.site }}</h1>

    <!-- Información General -->
    <div class="row mt-3">
        <div class="row text-center">
            <div class="col-lg-4 card">
                <h2>Creación:</h2>
                <p>{{ formatDateTime(maintenanceUrl?.maintenance.case.created)
                    }}</p>
            </div>
            <div class="col-lg-4 card">
                <h2>Fecha de entrega:</h2>
                <p>{{
                    formatDate(maintenanceUrl?.maintenance.date_estimated_delivery)
                    }}</p>
            </div>
            <div class="col-lg-4 card">
                <h2>Riesgo:</h2>
                <p>{{ maintenance?.has_risk ? 'Sí' : 'No' }}</p>
            </div>
        </div>
        
        <div class="row text-center">
            <div class="col-lg-4 card">
                <h2>Campus:</h2>
                <p>{{ maintenanceUrl?.maintenance.case.institute }}</p>
            </div>
            <div class="col-lg-4 card">
                <h2>Tipo de incidente:</h2>
                <p>{{ maintenanceUrl?.maintenance.type_incident }}</p>
            </div>
            <div class="col-lg-4 card">
                <h2>Estado:</h2>
                <p
                    *ngIf="maintenanceUrl?.maintenance.case.status.name == 'ENTREGADO'; else Noentregado">
                    {{ maintenanceUrl.maintenance.case.status.name }}
                </p>
                <ng-template #Noentregado>
                    <p>En proceso</p>
                </ng-template>
            </div>
        </div>
    </div>

    <!-- Calificación del Trabajo Realizado -->
    <div class="row mt-5">
        <div class="col-lg-12 text-center">
            <form (ngSubmit)="submitStars()">
                <h2>Califique el trabajo realizado del 1 al 5</h2>
                <p class="clasificacion text-left">
                    <input id="radio1" type="radio" name="score" value="5"
                        [(ngModel)]="stars">
                    <label for="radio1"><i
                            class="fa-regular fa-star"></i></label>
                    <input id="radio2" type="radio" name="score" value="4"
                        [(ngModel)]="stars">
                    <label for="radio2"><i
                            class="fa-regular fa-star"></i></label>
                    <input id="radio3" type="radio" name="score" value="3"
                        [(ngModel)]="stars">
                    <label for="radio3"><i
                            class="fa-regular fa-star"></i></label>
                    <input id="radio4" type="radio" name="score" value="2"
                        [(ngModel)]="stars">
                    <label for="radio4"><i
                            class="fa-regular fa-star"></i></label>
                    <input id="radio5" type="radio" name="score" value="1"
                        [(ngModel)]="stars">
                    <label for="radio5"><i
                            class="fa-regular fa-star"></i></label>
                </p>

                <p>Estrellas: {{ stars }}</p>
                <button type="submit"
                    class="btn btn-dark mt-3">Enviar</button>
            </form>
        </div>
    </div>

    <!-- Acción Adicional -->
    <div class="row">
        <div class="col-lg-12">
            <button class="btn-dark" routerLink="/login">Realizar un
                nuevo ticket</button>
        </div>
    </div>

</div>
